.dropdown-menu {

  // Custom Dropdown - lang-dropdown
  &--lang {
    min-width: 50px;
    background-color: #032846;
    border-radius: 2px;

    & > li {
      & > a {
        display: block;
        color: #ffffff;
        font-weight: 300;
      }
    }
  }
}