.table {
  //width: 99.9%;

  & > thead {
    th {
      color: #ffffff;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #032846;
      text-align: center;
      border-right: 1px solid #b1dbf7;

      //&:first-child { border-top-left-radius: 2px; border-left: 1px solid #032846; }
      &:last-child { border-right: 1px solid #032846; }
    }

    & > tr > th {
      border-bottom: none;
    }
  }

  & > tbody {
    border-left: 2px solid #b1dbf7;
    border-bottom: 1px solid #b1dbf7;

    & > tr {
      &:first-child {
        & > td {
          border-top: none;
        }
      }

      & > td {
        border-top: 1px solid #b1dbf7;
        border-right: 1px solid #b1dbf7;
        padding: 10px;

        @include media-breakpoint-up(md) {
          padding: 10px 35px;
        }
      }
    }
  }
}

.table-responsive {
  @include media-breakpoint-down(xs) {
    border: none;
    border-right: 1px solid #b1dbf7;
  }
}