.accordion {
  margin-bottom: 30px;

  &_item {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #edf3f7;

    & + & { margin-top: 10px; }
  }

  &_item > a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 60px;
    text-decoration: none;
    color: #282828;
    min-height: 45px;
    font-size: 14px;
    font-weight: 700;
    transition :all 0.2s linear;

    @include media-breakpoint-up(md) {
      padding: 10px 15px 10px 60px;
      font-size: 18px;
    }

    .fi {
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      font-size: 11px;
      font-weight: 700;
      border-radius: 6px;
      background-color: #4da6df;
      color: #ffffff;
    }
  }

  &_content {
    padding: 15px 15px 15px 60px;
    position:relative;
    width: 100%;
    border-radius: 6px;
    display:none;
  }
}

