.approach {
  padding: 22px;
  border-radius: 2px;
  border: 1px solid #b1dbf7;

  .row--flex & {
    height: 100%;
  }

  &_header {
    display: flex;
    margin-bottom: 16px;
  }

  &_icon {
    min-width: 50px;
    flex-basis: 50px;
    margin-right: 15px;
  }

  &_title {
    margin-bottom: 0;
    line-height: 24px;
  }

  &_content {
    color: #41617a;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
  }
}