.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: $brand-primary;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  transition: opacity .2s ease-out, background-color .3s;
  &:after {
    content: "";
    position: absolute;
    top: 17px;
    left: 50%;
    width: 12px;
    height: 12px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: translateX(-50%) rotate(-45deg);
  }

  &:hover { background: darken($brand-primary, 10%); }

  &.show { opacity: 1; }
}