.banner-slider {
  position: relative;
  z-index: 3;

  .banner-slide {
    display: flex;
    align-items: center;
    padding: 30px 0 70px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    @include media-breakpoint-up(md) {
      padding: 30px 0 100px;
    }
  }

  .slide-container {
    //max-width: 1056px;
    max-width: 1235px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
  }

  .slide-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @include media-breakpoint-up(md) {
      padding: 60px 50px;
      border: 4px solid $brand-primary;
    }

    &_img {
      position: absolute;
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        max-width: 490px;
      }

      &--lg {
        @include media-breakpoint-up(md) {
          max-width: 430px;
        }
      }
    }

    &--right {
      @include media-breakpoint-up(md) {
        padding: 60px 50px 60px 290px;
        text-align: right;
        align-items: flex-end;

        .slide-content_img {
          left: -150px;
          top: 30px;
        }
      }

      @include media-breakpoint-up(lg) {
        .slide-content_img {
          left: -130px;
        }
      }
    }

    &--left {
      @include media-breakpoint-up(md) {
        padding: 60px 290px 60px 50px;
        text-align: left;
        align-items: flex-start;

        .slide-content_img {
          right: -125px;
          top: -39px;
        }
      }

      @include media-breakpoint-up(lg) {
        .slide-content_img {
          right: -130px;
        }
      }
    }
  }

  .slide-title {
    color: #313953;
    font-weight: 700;

    @include media-breakpoint-up(sm) {
      font-size: 40px;
      line-height: 50px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 78px;
      line-height: 81px;
    }
  }

  .slide-text {
    font-size: 17px;
    line-height: 30px;
    max-width: 405px;
    margin-bottom: 45px;
    font-weight: 400;
  }
}

.swiper-container {
  width: 100%;

  &.banner-slider {
    height: 390px;

    @include media-breakpoint-up(md) {
      //height: 730px!important;
      height: 730px!important;
    }
  }
}

.slide-btn-group {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;

  }
}


// Slider Arrows
.swiper-button-prev,
.swiper-button-next {
  background-image: none;
  width: 54px;
  height: 54px;
  line-height: 70px;
  margin-top: 0;
  text-align: center;
  background-color: rgba(31, 62, 89, 0.8);
  border: 1px solid #ffffff;
  transform: translateY(-50%);
  transition: background-color .3s;

  &:hover { background-color: rgba(31, 62, 89, 1); }

  .fi {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    transition: left .3s, right .3s;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.swiper-button-prev {
  left: 40px;

  .fi { right: -23px; }

  &:hover .fi { right: 0; }

  // For carousel(portfolio-single)
  .single-carousel & { left: 0; }
}

.swiper-button-next {
  right: 40px;

  .fi { left: -23px; }

  &:hover .fi { left: 0; }

  // For carousel(portfolio-single)
  .single-carousel & { right: 0; }
}

// for 2 buttons
.slide-btn-group {
  .btn + .btn {
    @include media-breakpoint-up(md) {
      margin-left: 25px;
    }
  }
}