.blockquote {
  position: relative;
  background-color: #4ea5de;
  border-radius: 6px;
  border-left: 0;
  padding: 15px 15px 15px 50px;

  p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
  }



  &:before {
    content: "“";
    position: absolute;
    top: 0;
    line-height: 1;
    left: 0;
    opacity: 0.2;
    color: #e0eff9;
    font-size: 135px;
    font-weight: 700;
  }

  @include media-breakpoint-up(md) {
    padding: 45px 30px 45px 135px;
    &:before {
      top: -13px;
      font-size: 277px;
    }
  }
}