.breadcrumbs {
  padding: 20px 0;

  &_list {
    display: flex;
    margin-bottom: 0;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &_item,
  &_item a {
    color: #41617a;
    font-size: 14px;
    font-weight: 300;
    transition: color .3s;
  }

  &_item {
    & + & {
      position: relative;
      margin-left: 30px;
      &:after {
        content: "";
        position: absolute;
        left: -16px;
        top: 50%;
        width: 6px;
        height: 7px;
        background-image: url("../img/breadcrumb-div.png");
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }
    }

    &:hover a {
      color: $brand-primary;
    }
  }

  &--centered {

    .breadcrumbs_list {
      justify-content: center;
    }
  }
}