.btn {
  border-radius: 0;
  background: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  color: #ffffff;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  letter-spacing: .3px;
  transition: all .3s;

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--default {
    padding: 10px;
    border-radius: 2px 3px 3px 2px;
    background-color: #115c9c;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      min-width: 200px;
    }

    &:hover {
      background-color: #3985c3;
      color: #ffffff;
    }
  }

  &--primary {
    padding: 10px;
    border-radius: 2px 3px 3px 2px;
    background-color: $brand-primary;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 200px;

    &:hover {
      color: #ffffff;
      background-color: darken($brand-primary, 5%);
    }
  }

  &--secondary {
    padding: 13px 10px;
    border-radius: 2px;
    background-color: $brand-secondary;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 180px;
    &:hover {
      color: #ffffff;
      background-color: darken($brand-secondary, 5%);
    }
  }

  &--dark {
    padding: 16px 10px;
    border-radius: 3px;
    background-color: #032846;
    min-width: 220px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: #ffffff;
      background-color: lighten(#032846, 10%);
    }
  }

  &--more {
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;

    .fi {
      position: relative;
      vertical-align: middle;
      color: $brand-secondary;
      font-size: 25px;
      margin-right: 10px;
      transition: margin .3s;
    }

    &:hover {
      .fi { margin-right: 2px; }
      color: #ffffff;
    }
  }

  &--filter {
    padding: 4px 20px;
    border-radius: 6px 5px 5px 6px;
    color: #282828;
    font-size: 16px;
    font-weight: 700;
    &:hover {
      background-color: #c8ddea;
    }

    &.mixitup-control-active {
      color: #ffffff;
      background-color: #4da6df;
    }

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  &--full {
    display: block;
    min-width: 100%;
  }

  .fi {
    margin-right: 15px;
    font-size: 20px;
    vertical-align: middle;
  }

  &--sm { min-width: 134px; }
}

.btn--next,
.btn--prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  cursor: pointer;
  font-size: 40px;
  transform: translateY(-50%);

  @include media-breakpoint-up(md) {
    display: none;
  }

  &:hover {
    color: $brand-primary;
  }
}

.btn--prev { left: 0; }
.btn--next { right: 0; }


// Mobile-menu btn
.btn--menu-mobile {
  display: inline-block;
  background: transparent;
  position: absolute;
  top: -30px;
  right: 15px;
  width: 22px;
  height: 18px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;

  @include media-breakpoint-up(md) {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $brand-primary;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 6px;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }

  &.open span {
    background: #ffffff;
  }

  &.open span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%;
  }

  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.open span:nth-child(4) {
    top: 6px;
    width: 0%;
    left: 50%;
  }
}