.career-details {
  padding: 15px;
  background-color: $brand-secondary;
  border-radius: 5px;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding: 15px 30px;
  }

  &_list {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_item {
    color: #ffffff;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}