.contact-person {
  display: flex;
  margin-bottom: 30px;

  @include media-breakpoint-between(sm,md) {
    flex-direction: column;
  }

  &_img {
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid #115c9c;

    @include media-breakpoint-down(sm) {
      width: 70px;
      height: 70px;
    }

    @include media-breakpoint-between(sm,lg) {
      margin-bottom: 10px;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: -15px auto 0;
    }
  }

  &_details {
    padding-left: 20px;

    @include media-breakpoint-down(sm) {
      padding-left: 10px;
    }

    @include media-breakpoint-between(sm,md) {
      padding-left: 0;
    }
  }

  &_contacts {
    margin-bottom: 0;
  }
}