.contacts {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 10px 0 15px;
  border-top: 1px solid #466d85;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding: 0;
    border-top: none;
  }

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
  }

  &_item {
    position: relative;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: left;
    color: #ffffff;
    padding-left: 25px;
    a {
      color: #ffffff;
      &:hover { color: $brand-primary; }
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .fi {
    position: absolute;
    top: 4px;
    left: 0;
    color: $brand-primary;
  }
}