.details {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-downriver;
  font-size: 15px;

  @include media-breakpoint-up(sm) {
    padding: 35px 30px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  &_item {
    margin-bottom: 40px;
  }

  &_unit {
    display: block;
    color: #87a5bf;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &_name {
    display: block;
    color: #ffffff;
  }
}