.filters {
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #ecf2f6;
  padding: 5px;

  @include media-breakpoint-up(md) {
    margin-bottom: 45px;
  }

  &_list {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
  }

  &_item {
    &:not(:last-of-type) {
      @include media-breakpoint-up(sm) {
        margin-right: 5px;
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 5px;
      text-align: left;
    }
  }
}