.lang-switcher {
  position: relative;
  margin-left: 10px;
  width: 50px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 25px;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed $brand-primary;
    border-top: 5px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: translateY(-50%) rotate(0);
  }

  &.open {
    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 60px;
  }

  &_btn {
    background-color: transparent;
    color: #ffffff;
    font-weight: 300;
    padding-right: 10px;
    transition: color .3s;

    &:hover { color: $brand-primary; }
  }
}