.list {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #41617a;

  &--marked {
    li {
      position: relative;
      padding-left: 20px;
      &:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $brand-secondary;
      }
    }
  }
}

.links-list {
  margin-bottom: 10px;

  &_item {
    margin-bottom: 10px;
    a {
      display: inline-block;
      color: #ffffff;
      margin-bottom: 10px;

      .sidebar_widget & {
        color: #282828;
      }

      &:hover {
        text-decoration: none;
        color: $brand-primary;
      }
    }
  }

  &--menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .links-list_item {
      width: 50%;
      position: relative;
      padding-left: 18px;
      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
        background-color: $brand-primary;
      }
    }
  }
}