.menu {

  &_list {
    margin-bottom: 0;
    text-align: right;
  }

  @include media-breakpoint-up(md) {
    display: inline-block!important;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 40px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &_item {
    display: inline-block;
    position: relative;

    & > a {
      display: block;
      position: relative;
      padding: 10px 25px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: #103344;
      border-radius: 2px 3px 3px 2px;
      transition: background-color .3s;


      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }
    }

    &:hover {
      & > a {
        background-color: #dbebf5;
      }

      & > .sub-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: rotateY(0);
      }
    }

    &.current-menu-ancestor,
    &.current-menu-item {
      & > a {
        background-color: #dbebf5;
      }
    }

    &--custom {
      & > a {
        border: 1px solid #8abedf;
      }
    }
  }


  // Submenu
  .sub-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 25px);
    left: 0;
    width: 270px;
    background: #ffffff;
    text-align: left;
    z-index: 5;
    will-change: transform, opacity;
    box-shadow: 0 5px 5px rgba(4, 4, 4, 0.36);
    transition: opacity .2s, visibility .2s, transform .2s, top .2s;
    transform: translateY(20px);
    &:before,
    &:after {
      position: absolute;
      content: "";
    }

    &:before {
      top: -32px;
      left: 0;
      height: 32px;
      width: 100%;
      background: transparent;
    }

    #{'.header--stiky'} & {
      top: calc(100% + 10px);
    }

    & > .menu_item {
      display: block;
      margin-left: 0!important;
      position: relative;

      & + .menu_item {
        border-top: 1px solid rgba(#acd5e4, .7);
      }

      &-has-children {
        &:after {
          font-family: 'consulting' !important;
          content: "\e900";
          position: absolute;
          top: 14px;
          right: 14px;
          color: #115c9c;
          font-size: 12px;
          font-weight: 700;
          transition: transform .3s;
        }

        &:hover:after { transform: rotate(45deg); }
      }

      a {
        color: #1c2124;
        padding: 12px 30px;
        transition: background .2s, box-shadow .2s;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 100%;
          background-color: #115c9c;
          opacity: 0;
          transition: opacity .3s;
        }
      }

      &:hover {
        & > a {
          background: #ffffff;
          &:after { opacity: 1; }
        }

        // Show submenu 3-d level
        & > .sub-menu {
          top: 0;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          transform: rotateY(0);
        }
      }
    }

    // Submenu 3-d level
    .sub-menu {
      left: 100%;
      top: 0;
    }

    @include media-breakpoint-up(lg) {
      top: calc(100% + 31px);
    }

    @include media-breakpoint-up(xl) {
      top: calc(100% + 26px);
    }
  }
}

@include media-breakpoint-down(sm) {
  .menu {
    position: absolute;
    padding: 10px;
    left: 0;
    top: -54px;
    z-index: 20;
    width: 100%;
    height: auto;
    overflow-y: auto;
    margin: 0;
    background-color: #082137;
    border-radius: 0;

    &_list {
      background-color: #082137;
    }

    &_item {
      display: block;
      text-align: left;

      & + .menu_item {
        margin-left: 0;
        border-top: 0;
      }

      a {
        display: inline-block;
        padding: 14px 15px;
        font-size: 14px;
        color: #ffffff;
        &:after { display: none; }
      }

      &:last-child {
        border-bottom: none;
      }

      &.menu-item-has-children {
        &:after {
          content: "";
          position: absolute;
          top: 26px;
          right: 15px;
          width: 14px;
          height: 5px;
          background-image: url('../img/menu-arrow@2x.png');
          background-repeat: no-repeat;
          background-size: cover;
        }

        &.active {
          &:after {
            transform: rotate(180deg);
          }
        }
      }

      &:hover a {
        background-color: transparent;
      }
    }

    .sub-menu {
      display: none;
      top: 0;
      opacity: 1;
      visibility: visible;
      position: relative;
      width: 100%;
      background: #ffffff;
      transform: translateY(0);
      box-shadow: none;
      &:after,
      &:before {
        display: none;
      }

      & > .menu_item {
        border-bottom: none;
        a {
          padding: 5px 15px;
        }

        &:hover a {
          box-shadow: none;
          background-color: #ffffff;
        }
      }

      .sub-menu {
        left: 0;
      }
    }
  }
}


@include media-breakpoint-between(sm,md) {
  .menu {
    top: -87px;
  }
}