.not-found {
  min-height: 420px;
  background-image: url("../img/404-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    min-height: 850px;
  }

  &_text {
    position: relative;
    text-align: center;
    width: 735px;
    margin: 0 auto;
    padding-bottom: 60px;
    border-left: 5px solid #085c9d;
    border-right: 5px solid #085c9d;
    border-bottom: 5px solid #085c9d;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 75px;
      height: 5px;
      background-color: #085c9d;
    }

    &:before { left: 0; }
    &:after { right: 0; }

    @include media-breakpoint-down(sm) {
      width: 90%;
      padding-bottom: 30px;
      &:before,
      &:after {
        width: 30px;
      }
    }


    h2 {
      margin-top: -16px!important;
      margin-bottom: 10px;
      color: #282828;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;

      @include media-breakpoint-up(sm) {
        font-size: 40px;
      }
    }

    p {
      color: #282828;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 25px;
    }

    @include media-breakpoint-up(md) {
      max-width: 735px;

      h2 {
        font-size: 100px;
        margin-top: -55px!important;
        margin-bottom: 30px;
      }

      p {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 40px;
      }
    }
  }

  &--service {
    background-image: url("../img/503.jpg");
    min-height: 100vh;

    @include media-breakpoint-up(md) {
      min-height: 100vh;
    }

    .not-found_text {
      border: none;
      &:before,
      &:after { display: none; }
    }

    .not-found_icon {
      width: 55px;
      height: 55px;
      margin: 0 auto 30px;
    }

    h2 {
      font-size: 80px;

      @include media-breakpoint-up(md) {
        font-size: 160px;
      }
    }
  }
}