.partners-carousel {
  padding: 0 40px;

  @include media-breakpoint-up(md) {
    padding: 0;
  }

  &.swiper-container {
    @include media-breakpoint-between(xs,md) {
      width: 85%;
    }
  }

  .swiper-slide {
    text-align: center;
    opacity: .4;
    transition: opacity .3s;

    img {
      filter: grayscale(100%);
    }

    @include media-breakpoint-up(sm) {
      max-width: 50px;
    }

    @include media-breakpoint-up(md) {
      max-width: 123px;
    }

    &:hover { opacity: 1; }
  }
}