.partner {
  text-align: center;
  //margin-bottom: 30px;
  height: 100%;

  //@include media-breakpoint-up(md) {
  //  margin-bottom: 50px;
  //}


  &_logo {
    width: 110px;
    height: 110px;
    margin: 0 auto;

    img { height: 100%; }
  }

  &_heading {
    padding: 15px 0;
    border-bottom: 1px solid #bdd8e9;

    @include media-breakpoint-up(md) {
      padding: 15px 30px;
    }
  }

  &_title {
    color: #282828;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &_subtitle {
    color: #41617a;
    font-size: 15px;
    font-weight: 300;
  }

  &_description {
    padding: 12px 0;
    color: #41617a;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
  }
}