.person {
  text-align: center;

  &_photo {
    display: block;
    margin-bottom: 20px;
    border: 5px solid #115c9c;
    border-top: 0;
    width: 100%;
    height: 340px;
    position: relative;
    z-index: 1;
    &:before,
    &:after {
      position: absolute;
      content: "";
    }

    &:after {
      top: 0;
      left: -5px;
      width: calc(100% + 10px);
      height: 40px;
      border-bottom: 5px solid #115c9c;
      background-color: #ffffff;
      z-index: 2;
    }

    &:before {
      width: calc(100% + 16px);
      background-color: #ffffff;
      height: 45px;
      top: -10px;
      left: -8px;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: -55px auto 0;
      height: 100%;
      object-fit: cover;
      z-index: 5;
    }

    &:focus,
    &:active {
      border: 5px solid #115c9c;
      border-top: 0;
    }
  }

  &_name {
    color: #282828;
    font-size: 26px;
    font-weight: 700;

    span {
      display: block;
      color: #59baf9;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
    }
  }

  &_socials {
    padding: 10px 0;
    text-align: center;

    .socials {
      @include media-breakpoint-up(md) {
        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity .3s, visibility .3s, transform .3s;
      }
    }
  }

  &_text {
    padding: 10px 0 0;
  }

  &:hover {
    .socials {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &--list {
    .person_photo {
      border-top: 5px solid #115c9c;
      &:after { display: none; }
    }
  }
}