.places {

  &_item {
    position: relative;
    padding-left: 45px;
    color: #282828;
    font-size: 15px;

    & > a {
      color: #282828;
      &:hover { color: $brand-primary; }
    }

    & + & {
      margin-top: 20px;
    }

    .fi {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 30px;
      color: #59baf9;
    }
  }
}