.portfolio {
  width: 100%;
  position: relative;
  display: block;
  height: 100%;
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &_title {
    position: absolute;
    padding-left: 20px;
    bottom: 35px;
    left: 40px;
    opacity: 0;
    visibility: hidden;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    z-index: 2;
    will-change: transform, opacity;
    transform: translateY(10px);
    transition: opacity .3s, visibility .3s, transform .3s;
    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 6px;
      height: 22px;
      background-color: $brand-primary;
    }

    span {
      font-size: 15px;
      font-weight: 400;
      display: block;
    }

    @include media-breakpoint-up(md) {
      left: 55px;
    }
  }

  &_item {
    position: relative;
    width: 25%;
    float: left;
    height: 340px;
    margin-bottom: 30px;
    &:before,
    &:after {
      position: absolute;
      pointer-events: none;
    }

    &:before {
      content: "";
      top: 20px;
      left: 35px;
      width: calc(100% - 70px);
      height: calc(100% - 40px);
      background-color: rgba(#0c2c47, .9);
      opacity: 0;
      z-index: 1;
      transition: opacity .3s;
    }

    &:after {
      content: "\e912";
      font-family: 'consulting' !important;
      top: 50%;
      left: 50%;
      color: #8fbfde;
      transform: translate(-50%, -50%);
      font-size: 30px;
      opacity: 0;
      z-index: 2;
      transition: opacity .3s;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    &--default,
    &--long {
      width: 25%;
    }

    &--long {
      width: 25%;
      height: 710px;
    }

    &--wide {
      width: 50%;
      height: 340px;
    }

    &:hover {
      .portfolio_title {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-delay: .2s;
      }

      &:before,
      &:after {
        opacity: 1;
      }
    }

    @include media-breakpoint-down(md) {
      &--default,
      &--long,
      &--wide {
        width: 50%;
        height: 340px;
      }
    }

    @include media-breakpoint-down(xs) {
      &--default,
      &--long,
      &--wide {
        width: 100%;
        height: 340px;
      }
    }

    &--single {
      width: 100%;
      height: 270px;

      @include media-breakpoint-up(lg) {
        height: 320px;
      }

      &:before {
        top: 10px;
        left: 25px;
        width: calc(100% - 50px);
        height: calc(100% - 20px);
      }

      .portfolio_img {
        img {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  &_sizer {
    width: 25%;
  }

  &_img {
    display: block;
    height: 100%;

    img {
      display: block;
      object-fit: cover;
      width: calc(100% - 30px);
      height: 100%;
      position: absolute;
      top: 0;
      left: 15px;
    }
  }
}