.post {
  padding: 15px;
  border-radius: 3px;
  background-color: #032846;
  color: #ffffff;


  .entry-header {
    margin-bottom: 30px;
    height: 177px;

    a {
      position: relative;
      display: block;
      height: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      font-size: 0;
      display: block;
      z-index: 1;
      transition: opacity .4s;
    }
  }

  .entry-content {
    padding-bottom: 25px;
    border-bottom: 1px solid #466d85;

    p {
      color: #ffffff;
      font-weight: 400;
    }
  }

  .entry-footer {
    padding: 5px 0;
    text-align: right;
  }

  // Post title
  &_title {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 6px;
      height: 22px;
      background-color: $brand-primary;
    }

    a {
      color: #ffffff;
      &:hover { color: $brand-primary; }
    }
  }

  // Post Light(no background)
  &--light {
    padding: 0;
    margin-bottom: 30px;
    background-color: transparent;

    .entry-header {
      height: 206px;
      margin-bottom: 20px;
    }

    .post_title {
      a { color: #282828; }
    }

    .entry-content {
      padding-bottom: 0;
      border-bottom: none;

      p { color: #41617a; }
    }

    .entry-footer {
      .btn--more {
        color: #282828;
      }
    }
  }

  // Post News
  &--news {
    background: transparent;
    padding: 10px;

    .entry-header {
      margin-bottom: 25px;

      .entry-header_cover {
        position: relative;
        background-color: #b4e9f8;
        &:after,
        &:before {
          position: absolute;
          content: "";
          left: 50%;
          top: 50%;
          opacity: 0;
          pointer-events: none;
          will-change: all;
          transform: translate(-50%, -50%) scale(0);
          transition: opcity .4s, transform .4s;
        }

        &:before {
          width: 60px;
          height: 60px;
          background-color: #3b84c2;
          z-index: 2;
        }

        &:after {
          content: '\e912';
          font-family: 'consulting' !important;
          color: #ffffff;
          font-size: 25px;
          z-index: 3;
        }
      }

      &:hover {
        .entry-header_cover {
          &:before,
          &:after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }

        img { opacity: .4; }
      }
    }

    .entry-content {
      padding-bottom: 10px;
      min-height: 70px;
    }

    .entry-footer {
      padding: 10px 0;
    }
  }

  // Post Case
  &--case {
    position: relative;
    padding: 0;
    background-color: transparent;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 30px;

    .entry-header {
      margin-bottom: 0;
      height: 245px;
    }

    .entry-content {
      padding: 10px 10px 10px 20px;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: calc(100% - 35px);
      z-index: 3;
      background-color: rgba(#0c2c47, .9);
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 8px;
        height: 100%;
        background-color: rgba(#4ea5de, .9);
      }
    }

    .post_title {
      margin-bottom: 0;
      padding-left: 0;
      font-size: 18px;
      &:before { display: none; }

      span {
        display: block;
        color: rgba(#ffffff, .5);
        font-size: 15px;
        font-weight: 300;
      }
    }
  }

  // Post Case filtered
  &--case-filtered {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      width: 33.3333%;
    }

    .entry-header {
      height: 196px;
    }

    .entry-content {
      position: relative;
      width: auto;
      bottom: 0;
      background-color: transparent;
      border-bottom: 0;
      &:before {
        height: 22px;
        top: 10px;
        background-color: #3b84c2;
      }
    }

    .post_title {
      a {
        color: #282828;
        &:hover { color: $brand-primary; }
      }

      span { color: #4ea5de; }
    }
  }
}

.post-details {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  &_item + .post-details_item {
    @include media-breakpoint-up(sm) {
      margin-left: 25px;
    }
  }

  &_item,
  .post-details_link {
    color: #41617a;
    font-size: 15px;
    font-weight: 300;

    .fi { margin-right: 10px; }
  }

  .post-details_link:hover { text-decoration: underline!important; }
}

.post-author {
  margin-bottom: 30px;
  padding: 10px;
  background-color: #0c2c47;
  border-radius: 3px;
  display: flex;
  align-items: center;

  p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
  }

  @include media-breakpoint-up(md) {
    padding: 20px;
  }

  &_img {
    display: block;
    margin-right: 10px;

    img {
      min-width: 50px;
      border-radius: 50%;
      overflow: hidden;

      @include media-breakpoint-up(md) {
        min-width: 117px;
      }
    }

    @include media-breakpoint-up(md) {
      margin-right: 30px;
    }
  }

  &_content {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
  }

  &_name {
    font-weight: 300;
    margin-bottom: 10px;
  }
}