.service {
  border-radius: 2px;
  border: 1px solid #b1dbf7;
  text-align: center;
  font-weight: 300;
  padding: 30px 15px;
  color: #41617a;

  .row--flex & {
    height: 100%;
  }
  //margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding: 50px 45px;
  }

  @include media-breakpoint-up(xl) {
    padding: 50px 70px;
  }

  &_icon {
    position: relative;
    padding: 20px;
    width: 100%;
    margin: 0 auto 20px;
    border-bottom: 1px solid #b1dbf7;
    &:after {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 72px;
      height: 5px;
      background-color: #4ea5de;
    }

    @include media-breakpoint-up(lg) {
      padding: 30px;
      width: 188px;
    }
  }

  &_title {
    color: #282828;
    font-size: 16px;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      padding: 0 15px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }
}