.share {
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  &_label {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    color: #41617a;
    font-size: 15px;
    font-weight: 300;
  }
}