.socials {
  display: block;
  vertical-align: top;
  font-size: 0;
  text-align: left;
  padding: 20px 0 15px 15px;
  border-top: 1px solid #466d85;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    border-top: none;
  }

  @include media-breakpoint-up(md) {
    margin-top: 14px;
    display: inline-block;
    padding: 0;
    border-top: none;
  }

  @include media-breakpoint-between(md, lg) {
    margin-right: 25px;
  }

  &_item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &_link {
    position: relative;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    background-color: transparent;
    color: #ffffff;
    transition: color .3s;

    @include media-breakpoint-up(md) {
      color: #90c0df;
    }

    .fi { font-size: 20px; }

    &:hover {
      color: #3985c3;
      text-decoration: none;
    }

    &:active,
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  &--oval {
    margin-right: 0;

    .socials_link {
      width: 38px;
      height: 38px;
      text-align: center;
      line-height: 56px;
      border-radius: 50%;
      background-color: #b0cee7;
      color: #081b2c;
      opacity: .75;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &--right {
    @include media-breakpoint-up(sm) {
      float: right;
    }
  }

  &--person {
    @include media-breakpoint-down(md) {
      border-top: none;
      text-align: center;
    }

    .socials_item + .socials_item { margin-right: 8px; }

    .socials_link {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 58px;
      border-radius: 50%;
      background-color: #c1e0f4;
      color: #ffffff;
      transition: background-color .3s;



      &:hover {
        background-color: #59baf9;
      }
    }
  }
}