.statistic {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  &_icon {
    max-width: 70px;
    color: #59bbf9;

    @include media-breakpoint-up(lg) {
      max-width: 95px;
    }
  }

  &_content {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-left: 1px solid rgba(#334f66, .5);
    color: #0c2c47;

    @include media-breakpoint-up(lg) {
      margin-left: 20px;
      padding-left: 25px;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 20px;
    }
  }

  &_number {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
  }

  &_descr {
    font-size: 16px;
    font-weight: 300;
    white-space: pre-wrap;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
}