.subscribe {
  position: relative;

  form { position: relative; }

  &_input {
    width: 100%;
    padding: 10px 60px 10px 20px;
    border-radius: 2px;
    height: 47px;
    border: none;
    outline: none;
    background-color: #e0f1fc;
    color: #5b7b95;
  }

  &_send {
    position: absolute;
    top: 50%;
    right: 14px;
    background: none;
    color: $brand-secondary;
    transform: translateY(-50%);

    .fi {
      vertical-align: middle;
      font-size: 30px;
      transition: color .3s;
    }

    &:hover {
      color: darken($brand-primary, 10%);
    }
  }
}
