.tabs-nav {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #b1dbf7;
  margin-bottom: 35px;

  &_item {
    a {
      padding: 16px 40px;
      display: block;
      color: #282828;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      transition: background-color .3s;
    }

    &--active a {
      color: #ffffff;
      background-color: #4da6df;
    }

    &:not(.tabs-nav_item--active):hover a {
      background-color: #edf3f7;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }
}

.tabs-content {
  display: none;

  &:first-child {
    display: block;
  }
}