.tags {
  display: flex;
  margin-bottom: 30px;

  &_item {
    color: $brand-secondary;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;

    & + .tags_item {
      margin-left: 20px;
    }
  }
}