.testimonial {
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
  min-height: 324px;

  .testimonials-carousel-full & {
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 2px;
    border: 1px solid #b1dbf7;
    z-index: -1;
  }

  .sidebar_widget & {
    padding: 20px 0;

    &:after { left: 0; }
  }

  &_text {
    position: relative;
    padding-left: 45px;
    padding-top: 0;
    color: #41617a;
    border-left: none;
    font-size: 15px;
    font-weight: 300;
    &:before {
      content: '“';
      position: absolute;
      top: -15px;
      left: 12px;
      color: #3f617b;
      font-size: 60px;
      font-weight: 900;
    }
  }
}

.author {
  display: flex;
  margin-bottom: 20px;

  .sidebar_widget & {
    @include media-breakpoint-between(md,lg) {
      flex-direction: column;
    }
  }

  &_avatar {
    margin-top: -20px;
    margin-left: -20px;
    width: 100px;
    height: 100px;
    border: 1px solid #b1dbf7;

    .sidebar_widget & {
      margin-left: 0;
      border: none;
    }

    img {
      border-radius: 2px;
      overflow: hidden;
    }
  }

  &_name {
    margin: 20px 0 0 15px;
    color: #282828;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

    span {
      display: block;
      color: #5b7b95;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

// Testimonials arrows
.testimonials-carousel_controls {
  text-align: center;
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    margin-top: 10px;
  }

  .btn-next,
  .btn-prev {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0 12px;
    line-height: 39px;
    border: 1px solid #59baf9;
    background-color: rgba(255, 255, 255, 0.8);

    .fi {
      position: relative;
      color: #59bbf9;
      font-size: 22px;
      transition: left .3s, right .3s;
    }
  }

  .btn-next {
    .fi { left: -10px; }
    &:hover .fi {
      left: 0;
    }
  }

  .btn-prev {
    .fi { right: -10px; }

    &:hover .fi { right: 0; }

  }
}