.section-heading {
  text-align: center;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }

  &_main {
    position: relative;
    margin-top: 0;
    font-size: 32px;
    color: #282828;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 44px;
      height: 3px;
      background-color: #5b9dc7;
      opacity: .4;
    }

    @include media-breakpoint-up(md) {
      font-size: 46px;
    }

    .section--dark & {
      color: #ffffff;
    }
  }

  &_secondary {
    color: #628ea5;
    font-size: 17px;
    font-weight: 500;
  }

  &--left {
    text-align: left;

    .section-heading_main {
      padding-bottom: 10px;
      @include media-breakpoint-up(md) {
        font-size: 40px;
      }

      &:after {
        left: 0;
        right: auto;
        background-color: rgba(#2c597a, .4s) ;
      }
    }
  }
}

.title {
  position: relative;
  color: #282828;
  font-size: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bdd8e9;
  margin-bottom: 15px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 30px;
    font-size: 36px;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 44px;
    height: 3px;
    background-color: #bdd8e9;
  }

  &--full {
    text-align: center;
    &:after {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &--page {
    color: #282828;
    font-size: 26px;
    font-weight: 700;
    border-bottom: none;
    text-align: center;
    margin-bottom: 0;
    &:after {
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #3b84c2;
    }

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  }

  &_subtitle {
    display: block;
    margin-bottom: 5px;
    color: #59baf9;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}


.title-widget {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
  }

  &:before {
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #466d85;
  }

  &:after {
    bottom: -4px;
    width: 30px;
    height: 5px;
    background-color: $brand-primary;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }

  .sidebar_widget & {
    color: #183645;
  }
}

.category {
  color: #41617a;
  font-size: 15px;
  font-weight: 500;
}