label.error {
  position: absolute;
  top: 5px;
  font-size: 12px;
  right: 35px;
  font-weight: 400;
  color: red;

  .subscribe & {
    left: 10px;
    right: auto;
    top: 0;
  }
}

.sent-msg {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 10px 0 0;
  text-align: center;
  z-index: 50;
  font-size: 12px;

  span {
    color: #ffffff;
    padding: 7px 15px;
    display: inline-block;
    background-color: #038233;
  }
}