.title-widget {
  @include media-breakpoint-down(sm) {
    cursor: pointer;
  }
}

.widget {

  &_content {
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}