$footerHeight: 400px !default; //default height > screen sm
$screen-sm: 768px; //like bootstrap minimal after xs

//start for fixed height bottom footer
#wrap {
  height: auto;
  min-height: 100%;
  margin: 0 auto (- ($footerHeight + 200));
  padding: 0 0 $footerHeight + 200;
  @media (min-width: $screen-sm) {
    margin: 0 auto (- $footerHeight);
    padding: 0 0 $footerHeight;
  }
}

body, html {
  height: 100%;
}
//end for fixed height bottom footer

//start off bootstrap outline links in firefox
a {
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
//end off bootstrap outline links in firefox

//start no browser support
.chromeframe {
  font-size: 30px;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: $white;
  a {
    color: red;
  }
}
//end no browser support

body {
  &.menu-opened {
    overflow: hidden;
  }
}


.section-white {
  position: relative;
  background: $white;

  @include media-breakpoint-up(sm) {
    padding: 33px 0 50px;
  }

  .container {
    position: relative;
  }

  .swiper-button-next {
    @include media-breakpoint-up(xs) {
      right: 0;
      margin-top: -20px;
    }
    &:before {
      content: '';
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      right: 15px;
      top: 10px;
      background: none;
      border-left: 2px rgba(6,6,6,.7) solid;
      border-top: 2px rgba(6,6,6,.7) solid;
      transform: rotate(135deg);
    }
  }
  .swiper-button-prev {
    @include media-breakpoint-up(xs) {
      left: 0;
      margin-top: -20px;
    }

    &:before {
      content: '';
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      left: 15px;
      top: 10px;
      background: none;
      border-left: 2px rgba(6,6,6,.7) solid;
      border-top: 2px rgba(6,6,6,.7) solid;
      transform: rotate(-45deg);
    }
  }
}

.footer-bottom {
  border-top: 1px #f5f5f5 solid;

  .additional-text {
    border-bottom: 0;
    max-width: 914px;
    margin: 0 auto;
    padding-top: 41px;

    @include media-breakpoint-down(lg) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}


/* category filter */
.category-filter-wrap {
  padding-left: 0;
  padding-right: 0 !important;
  margin-right: 10px;
  transition: all .6s;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }

  @include media-breakpoint-up(md) {
    padding-left: 25px;
  }

  @include media-breakpoint-down(sm) {
    position: fixed!important;
    height: 100%;
    top: 0;
    z-index: 5;
    transform: translateX(-152%);

    &.active {
      transform: translateX(0);
    }
  }
}

// amount slider
.ui-slider.ui-slider-horizontal {
  height: 2px;
  background: rgba(6,6,6,.2);
  border-width: 0 !important;
  margin-bottom: 38px;
  margin-top: 25px;
}
.ui-slider .ui-widget-header {
  border-width: 0 !important;
  background: $brand-primary;
  height: 2px !important;
}

.ui-slider .ui-state-default,
.ui-slider.ui-widget-content .ui-state-default {
  width: 20px;
  height: 20px;
  border: 2px solid $brand-primary;
  background-color: $white;
  border-radius: 50%;
  top: -8px;

  &:focus { outline: none; }
}
