// heltfor strong tag to display block
.strong-line {
  display: block;
}

.divider {
  height: 1px;
  margin: 25px 0;
}

.dark-wrapper {
  padding: 30px 0;
  background-color: #31404c;

  @include media-breakpoint-up(md) {
    padding: 70px 0;
  }
}