// Tools: Mixins

// Center content
@mixin content-center($width){
	margin-right: auto;
	margin-left: auto;
	@if $responsive == 'true' {
		max-width: $width;
		width: 100%;
	} @else {
		width: $width;
	}
}