<a href="#" class="back-to-top" title="Back to top"></a>

</div><!-- end #wrap -->
<footer class="footer">
  <div class="footer_top">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12 col-lg-3 mb-3">
          <div class="logo logo--footer">
            <a href="#">
              <img src="img/logo-footer.png" alt="">
            </a>
          </div>

          <p>
            Jameson Consulting, established in 1994, offers a wide variety of consulting services for a range of businesses. We deliver smart and innovative solutions making the most out of your business.
          </p>

        </div>

        <div class="col-md-6 col-lg-3">
          <h3 class="title-widget">recent news</h3>
          <ul class="links-list">
            <li class="links-list_item">
              <a href="news-single-page.html">Present your ideas to the Audit Committee the right way</a>
              <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
            </li>
            <li class="links-list_item">
              <a href="news-single-page.html">Biggest concerns when choosing a vendor</a>
              <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
            </li>
          </ul>
        </div>

        <div class="col-md-6 col-lg-3">
          <h3 class="title-widget">Extra links</h3>
          <ul class="links-list links-list--menu">
            <li class="links-list_item"><a href="about.html">About</a></li>
            <li class="links-list_item"><a href="services.html">News</a></li>
            <li class="links-list_item"><a href="contact-us.html">Contacts</a></li>
            <li class="links-list_item"><a href="testimonials.html">Testimonials</a></li>
            <li class="links-list_item"><a href="typography.html">Typography</a></li>
            <li class="links-list_item"><a href="services.html">Services</a></li>
            <li class="links-list_item"><a href="careers.html">Careers</a></li>
            <li class="links-list_item"><a href="our-team.html">Our team</a></li>
            <li class="links-list_item"><a href="our-approach.html">Our approach</a></li>
          </ul>
        </div>

        <div class="col-md-6 col-lg-3">
          <h3 class="title-widget">Subscribe</h3>
          <p>Get latest updates and offers.</p>

          <div class="subscribe">
            <form action="#" id="form-subscribe" class="form">
              <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
              <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <div class="container-fluid container-fluid--custom">
      <div class="col-sm-6">
        <p class="copyright">Copyright © 2017 Consulting WordPress Theme by AwesomeThemes</p>
      </div>

      <div class="col-sm-6">
        <ul class="socials socials--oval socials--right">
          <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-twitter"></i>Twitter</a></li>
          <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-facebook-logo"></i>Facebook</a></li>
          <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-camera"></i>Instagram</a></li>
          <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-linkedin-logo"></i>Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
<!-- inject:js -->
<!-- endinject -->

<script src="js/main.js"></script>
</body>
</html>