img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  margin-top: 0!important;
}


h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

h1,
h2 {
  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}


a {
  transition: color .3s;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none!important;
  }

  &:focus,
  &:active {
    outline: none;
    border: 0;
  }
}


input,
button,
select {
  outline: none !important;
}

p {
  color: #41617a;
  font-weight: 300;
  &:last-child {margin-bottom: 0;}
}

label {
  color: #6c7680;
}

button {
  border: 0;
  padding: 0;
}

u {
  color: #242424;
}

// disable select arrow in IE
select::-ms-expand { display: none;}

// remove input number styles
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// noresize textarea's width
textarea { width: 100%!important; }

canvas {
  user-select: none;
}

.wrapper {
  overflow: hidden;
}

.container-fluid {
  &--custom {
    max-width: 1400px;
  }
}

.date {
  display: block;
  .fi {
    margin-right: 10px;
    color: $brand-secondary;
  }
}