$icomoon-font-path: "../fonts/iconfont/";

$fi-school-calendar2: "\e920";
$fi-user: "\e921";
$fi-minus: "\e91e";
$fi-plus: "\e91f";
$fi-linkedin-logo: "\e91c";
$fi-camera: "\e91d";
$fi-add: "\e900";
$fi-airplane-shape: "\e901";
$fi-back: "\e902";
$fi-black-envelope: "\e903";
$fi-calendar: "\e904";
$fi-clock-circular-outline: "\e905";
$fi-down-arrow: "\e906";
$fi-down-arrow-filled: "\e907";
$fi-download: "\e908";
$fi-envelope: "\e909";
$fi-facebook-logo: "\e90a";
$fi-file: "\e90b";
$fi-google-plus: "\e90c";
$fi-group: "\e90d";
$fi-left-arrow: "\e90e";
$fi-line-chart: "\e90f";
$fi-medal: "\e910";
$fi-next: "\e911";
$fi-observe: "\e912";
$fi-operator: "\e913";
$fi-pdf-file: "\e914";
$fi-phone-receiver: "\e915";
$fi-placeholder: "\e916";
$fi-right-arrow: "\e917";
$fi-school-calendar: "\e918";
$fi-telephone: "\e919";
$fi-twitter: "\e91a";
$fi-users: "\e91b";

@font-face {
  font-family: 'consulting';
  src:  url('#{$icomoon-font-path}/consulting.eot?zfbq02');
  src:  url('#{$icomoon-font-path}/consulting.eot?zfbq02#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/consulting.ttf?zfbq02') format('truetype'),
  url('#{$icomoon-font-path}/consulting.woff?zfbq02') format('woff'),
  url('#{$icomoon-font-path}/consulting.svg?zfbq02#consulting') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fi-"], [class*=" fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'consulting' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-school-calendar2 {
  &:before {
    content: $fi-school-calendar2;
  }
}
.fi-user {
  &:before {
    content: $fi-user;
  }
}
.fi-minus {
  &:before {
    content: $fi-minus;
  }
}
.fi-plus {
  &:before {
    content: $fi-plus;
  }
}
.fi-linkedin-logo {
  &:before {
    content: $fi-linkedin-logo;
  }
}
.fi-camera {
  &:before {
    content: $fi-camera;
  }
}
.fi-add {
  &:before {
    content: $fi-add;
  }
}
.fi-airplane-shape {
  &:before {
    content: $fi-airplane-shape;
  }
}
.fi-back {
  &:before {
    content: $fi-back;
  }
}
.fi-black-envelope {
  &:before {
    content: $fi-black-envelope;
  }
}
.fi-calendar {
  &:before {
    content: $fi-calendar;
  }
}
.fi-clock-circular-outline {
  &:before {
    content: $fi-clock-circular-outline;
  }
}
.fi-down-arrow {
  &:before {
    content: $fi-down-arrow;
  }
}
.fi-down-arrow-filled {
  &:before {
    content: $fi-down-arrow-filled;
  }
}
.fi-download {
  &:before {
    content: $fi-download;
  }
}
.fi-envelope {
  &:before {
    content: $fi-envelope;
  }
}
.fi-facebook-logo {
  &:before {
    content: $fi-facebook-logo;
  }
}
.fi-file {
  &:before {
    content: $fi-file;
  }
}
.fi-google-plus {
  &:before {
    content: $fi-google-plus;
  }
}
.fi-group {
  &:before {
    content: $fi-group;
  }
}
.fi-left-arrow {
  &:before {
    content: $fi-left-arrow;
  }
}
.fi-line-chart {
  &:before {
    content: $fi-line-chart;
  }
}
.fi-medal {
  &:before {
    content: $fi-medal;
  }
}
.fi-next {
  &:before {
    content: $fi-next;
  }
}
.fi-observe {
  &:before {
    content: $fi-observe;
  }
}
.fi-operator {
  &:before {
    content: $fi-operator;
  }
}
.fi-pdf-file {
  &:before {
    content: $fi-pdf-file;
  }
}
.fi-phone-receiver {
  &:before {
    content: $fi-phone-receiver;
  }
}
.fi-placeholder {
  &:before {
    content: $fi-placeholder;
  }
}
.fi-right-arrow {
  &:before {
    content: $fi-right-arrow;
  }
}
.fi-school-calendar {
  &:before {
    content: $fi-school-calendar;
  }
}
.fi-telephone {
  &:before {
    content: $fi-telephone;
  }
}
.fi-twitter {
  &:before {
    content: $fi-twitter;
  }
}
.fi-users {
  &:before {
    content: $fi-users;
  }
}



.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  @include media-breakpoint-up(lg) {
    width: 95px;
    height: 95px;
  }
}
