.flex {
  display: flex;

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}