.footer {
  color: #5b7b95;
  font-size: 16px;

  &_top {
    padding: 30px 0;
    background: $color-downriver;
    @include media-breakpoint-up(lg) {
      padding: 100px 0;
    }
  }

  &_bottom {
    background-color: #081b2c;
    color: #80b3de;
  }
}