.header {

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 3px;
    background-color: $color-downriver;
    color: #ffffff;

    @include media-breakpoint-up(lg) {
      padding: 10px 55px;
    }
  }

  &_bottom {
    padding: 15px 0;

    @include media-breakpoint-up(sm) {
      padding: 20px 0 25px;
    }
  }
}

.logo {
  display: block;
  max-width: 150px;
  transition: max-width .3s;

  @include media-breakpoint-up(sm) {
    max-width: 260px;
  }

  &--footer {
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }
}