.row {

  &--flex {
    display: flex;
    @supports(display: flex) {
      &:before,
      &:after {
        display: none!important;
      }
    }
  }

  &--flex-wrap {
    flex-wrap: wrap;
  }

  &--flex-middle {
    align-items: center;
  }

  &--flex-bottom {
    align-items: flex-end;
  }

  &--flex-space {
    & > div[class*='col-'] {
      margin-bottom: 30px;
    }
  }

  &--custom {
    margin: 0;
    border-radius: 3px;
    background-color: #032846;
    box-shadow: 0 5px 9px rgba(165, 165, 165, 0.48);
    div[class*='col-'] {
      padding: 0;
    }
  }

  &--nopadding {
    & > div {
      @include media-breakpoint-up(sm) {
        padding: 0;
      }
    }
  }
}
