.section {
  padding: 30px 0;

  @include media-breakpoint-up(md) {
    padding: 75px 0;
  }

  &--dark {
    background-color: #0c2c47;
  }
}

.section-parallax {
  padding: 45px 0;
  background-image: url('../img/section-parallax.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
  background-position-x: 42%;
  position: relative;

  @include media-breakpoint-up(xl) {
    background-position-x: 100%;
  }

  @include media-breakpoint-up(md) {
    background-position-x: 46%;
  }

  .phrase {
    width: 100%;
    float: right;
    text-align: center;

    @include media-breakpoint-up(lg) {
      width: 90%;
      text-align: right;
    }

    &_text {
      display: inline-block;
      vertical-align: middle;
      color: #ffffff;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      margin-bottom: 30px;

      b { display: block; }

      @include media-breakpoint-up(sm) {
        font-size: 35px;
      }
      
      @include media-breakpoint-up(md) {
        font-size: 41px;
        text-align: left;
        margin-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        margin-right: 120px;
      }
    }
  }

  &--type-2 {
    background-image: url('../img/section-parallax-2.jpg');
  }
}

.section-head {
  padding: 20px 0;
  background-image: url('../img/page-heading.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 33%;

  &--contacts {
    background-image: url('../img/page-heading-contact.jpg');
  }

  &--partners {
    background-image: url('../img/page-header-partners.jpg');
  }

  @include media-breakpoint-up(md) {
    padding: 50px 0 30px;
  }
}

.section-statistic {
  background-color: #f1f7fb;
  padding: 30px 0;

  @include media-breakpoint-up(lg) {
    padding: 95px 0 60px;
  }
}

.section-service {
  padding: 30px 0;

  @include media-breakpoint-up(md) {
    padding: 80px 0;
  }

  .row--flex {
    & > div {
      margin-bottom: 30px;
    }
  }
}

.section-partners {
  padding: 20px 0;
  background-color: #0c2c47;
}

.section-contact {
  padding: 30px 0;

  @include media-breakpoint-up(lg) {
    padding: 75px 0 60px;
  }

  .contact-info {
    color: #41617a;
    font-weight: 300;
    font-size: 15px;
  }
}

.section-contact {
  @include media-breakpoint-up(md) {
    background-image: url("../img/contact.png");
    background-size: contain;
    background-position: -33% bottom;
    background-repeat: no-repeat;
    margin-bottom: -20px;
  }

  @include media-breakpoint-up(lg) {
    background-position: 6% bottom;
  }

  @include media-breakpoint-up(xl) {
    background-position: 10% bottom;
  }

  @include media-breakpoint-up(xxl) {
    background-position: 19% bottom;
  }
}

.section-map {
  .container-fluid {
    padding: 0;
  }
}

.section-gray {
  background-color: #ecf2f6;
}

.section-content {
  padding: 30px 0;

  @include media-breakpoint-up(md) {
    padding: 100px 0;
  }

  &--single {
    @include media-breakpoint-up(md) {
      padding: 100px 0 50px;
    } 
  }
}

