.sidebar {
  &_widget {
    margin-bottom: 40px;
  }

  &_list {
    box-shadow: 0 3px 3px rgba(171, 184, 195, 0.65);

    &_item {
      position: relative;
      padding-left: 6px;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background-color: #0c2c47;
        z-index: 0;
      }

      a {
        position: relative;
        display: block;
        padding: 18px 25px;
        color: #183645;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        transition: background-color .3s;
      }

      &:not(.sidebar_list_item--current):hover {
        a { background-color: #e1f0f9; }
      }

      &--current {
        &:before { width: 100%; }
        a { color: #ffffff; }
      }
    }
  }

  // Widget Contact
  &_contact {
    border-radius: 3px;
    border: 1px solid #b1dbf7;
    padding: 20px;
    text-align: center;

    &_title {
      text-align: left;
      color: #282828;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    @include media-breakpoint-up(lg) {
      padding: 30px;
    }

    &_content {
      display: flex;
      align-items: flex-start;
      text-align: left;
      flex-direction: row;
      margin-bottom: 25px;

      @include media-breakpoint-between(sm,md) {
        align-items: center;
        flex-direction: column;
      }
    }

    &_img {
      flex-grow: 1;
      margin-right: 20px;
      .icon-smartphone { width: 63px; }

      @include media-breakpoint-between(sm,md) {
        margin-right: 0;
      }
    }

    &_text {
      color: #41617a;
      font-weight: 300;
      line-height: 22px;
    }
  }
}