@@include('inc/header.html', {
"title": "404"
})


<main class="content">
  <div class="not-found">
    <div class="not-found_text">
      <h2>ERROR 404</h2>

      <p>
        You may have mis-typed the URL.<br>
        Or the page has been removed.
      </p>
      <a href="index.html" class="btn btn--default">Home Page</a>
    </div>

  </div>
</main>


@@include('inc/footer.html')