@@include('inc/header.html', {
"title": "About"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">About Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <div class="swiper-container about-us-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/about-us-main.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/about-us-main.jpg" alt=""></div>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination swiper-pagination--custom"></div>
          </div>

          <h2 class="title">About our company</h2>

          <p>
         Founded in 1994, Jameson Consulting is one of top-notch providers of business consulting solutions over the world. For more than 20 years we have been tailoring success for our client with great care and precision. We have successfully delivered over 2000 implementations for more than 700 clients. Our industry expertise has earned us a reputation for delivering powerful, flexible, and scalable solutions that provide a rapid growth and great stability for our clients. We make sure those decisions get translated quickly into action and that the client's team can sustain the momentum into the future. We commit to leaving organizations stronger than when we arrive.
          </p>

          <p>
We advise global leaders on their most critical issues and opportunities. Our unique approach to traditional change management helps clients measure and manage risk and overcome the odds to realize results.
          </p>

          <blockquote class="blockquote">
            <p>
              We use a structured and well-thought process to ensure the delivered solution accommodates your current and future business needs.
            </p>
          </blockquote>

          <p>
            Our strategy is not a “one-size-fits-all”, nor do we look to apply methodology where it is not proficient or cost effective. The magnificence of our technique is its capacity to scale to the unique qualities of the solution and the environment in which it will reside.
          </p>

          <div class="row">
            <div class="col-md-6">
              <h2>Our mission</h2>
              <p>We provide quality consulting services, allowing businesses to focus on their core processes. We are committed to delivery, to innovation and to achieving the very best in everything we do. We push boundaries and challenge convention, strategically and technologically.:</p>
              <ul class="list list--marked">
                <li>Work fewer hours — and make more money</li>
                <li>Attract and retain quality, high-paying customers</li>
                <li>Manage your time so you’ll get more done in less time</li>
                <li>Hone sharp leadership skills to manage your team</li>
                <li>Cut expenses without sacrificing quality</li>
                <li>Automate your business, so you can leave for months at a time</li>
              </ul>
            </div>

            <div class="col-md-6">
              <h2>Benefits and rewards</h2>
              <p>Our values:</p>
              <br>
              <br>
              <br>
              <ul class="list">
                <li>Being aware of empathy and compassion</li>
                <li>Treating everyone with respect</li>
                <li>Building strong relationships</li>
                <li>Exceeding customer expectations</li>
                <li>Learning and developing constantly</li>
                <li>Being open to different ideas</li>
              </ul>
            </div>
          </div>

          <figure class="mb-3">
            <img src="img/about-2.jpg" alt="">
          </figure>

          <p>
            We believe that our most important asset is our client reputation and the key to building that reputation lies with each and every employee. That’s why we attract and retain the best and brightest professionals by providing exceptional wages and world-class benefits.
          </p>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item sidebar_list_item--current"><a href="about.html">About Us</a></li>
                <li class="sidebar_list_item"><a href="our-approach.html">Our approach</a></li>
                <li class="sidebar_list_item"><a href="our-partners.html">Our partners</a></li>
                <li class="sidebar_list_item"><a href="careers.html">Careers</a></li>
                <li class="sidebar_list_item"><a href="#">Our Team</a></li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone"><use xlink:href="#icon-smartphone"></use></svg>
                  </div>

                  <div class="sidebar_contact_text">
                     Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">recent news</h3>
              <ul class="links-list">
                <li class="links-list_item">
                  <a href="news-single-page.html">Present your ideas to the Audit Committee the right way</a>
                  <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
                </li>
                <li class="links-list_item">
                  <a href="news-single-page.html">Biggest concerns when choosing a vendor</a>
                  <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
                </li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>

              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Download</h3>
              <p>Jameson Consulting Presentation</p>
              <a href="#" class="btn btn--secondary btn--full"><i class="fi fi-pdf-file"></i>Download presentation</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')