@@include('inc/header.html', {
"title": "Careers"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="about.html">About Us</a></li>
              <li class="breadcrumbs_item">Careers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <h2 class="title">Careers</h2>
          <p>
            Our commitment to client success is undoubtable. We extend the same level of commitment to our employees. That’s the reason behind JC’s performance and success. We maintain a community driven culture, where our people are valued, respected and rewarded for their contributions. We thrive to create a friendly ecosystem for our old employees as well as for the newcomers.
          </p>

          <p>
            Our global offices share the same diverse and informal environment, no matter where you are - in New York, London, Berlin or Tokyo. So, if you think you we have the same passion, desire to get the highest results and be on the top of the hill - we would like you to contact us.
          </p>

          <ul class="accordion">
            <li class="accordion_item">
              <a href="#">
                Are you an open-minded and ambitious person?
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  Jameson Consulting is always up to something new. Whether it is new business niches or fresh ideas on doing better in an already occupied niche. We need people who think out of the box and want to realize their own potential.
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                Are you a decision-maker?
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
Work in Jameson Consulting means that sometimes you will have to make hard decisions that will affect work of the company and their clients. JC needs people with great knowledge and strong beliefs in what they are doing.
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                How stress-resistant are you?
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  Jameson Consulting is a high-risk, high-rewarding job. Your mission here is to make the most out of any situation. Sometimes it may bring lots of stress. If you manage to overcome those, you will not only get so important experience, but also valuable bounties and bonuses.
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                Are you ready for business trips?
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  The amount of contented clients is an occasion of pride for Jameson Consulting and we do our best to get those numbers up. If our client demands in-depth control of the situation or personal attention - we will do our best to satisfy them. Even if it means travelling all around the globe.
                </p>
              </div>
            </li>
          </ul>

          <p class="mb-4">
            Due to our increasing growth, we’re currently hiring fresh and energetic professionals. We’re looking for people who want to do great things and get rewarded for it.

          </p>

          <div class="row mb-4">
            <div class="col-md-5">
              <h2>Why Jameson Consulting?</h2>
              <ul class="list">
                <li>Make an impact that can change the world</li>
                <li>Unleash your career potential</li>
                <li>Travel the world with business trips</li>
                <li>Benefit from JC’s educational programs</li>
                <li>Get decent rewards for your triumphs</li>
                <li>Experience new ways of thinking</li>
                <li>Make as flexible career as possible</li>
              </ul>
            </div>

            <div class="col-md-7">
              <img src="img/portfolio/07.jpg" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Open positions</h2>

              <div class="table-responsive">
                <table class="table table--careers">
                  <thead>
                  <th>job posting title</th>
                  <th>location</th>
                  <th>department</th>
                  <th>date</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="career-single-page.html">Business Analyst</a></td>
                    <td>New York, US</td>
                    <td>Surface Transport & Logistics Consulting</td>
                    <td>January 8, 2017</td>
                  </tr>

                  <tr>
                    <td><a href="career-single-page.html">Advanced Insights Analyst</a></td>
                    <td>London, UK</td>
                    <td>Business Services Consulting</td>
                    <td>January 8, 2017</td>
                  </tr>

                  <tr>
                    <td><a href="career-single-page.html">Implementation Consultant</a></td>
                    <td>New York, US </td>
                    <td>Consumer Products Consulting</td>
                    <td>January 8, 2017</td>
                  </tr>

                  <tr>
                    <td><a href="career-single-page.html">Junior Data Analyst</a></td>
                    <td>Tokyo, JP </td>
                    <td>Travel and Aviation Consulting</td>
                    <td>January 8, 2017</td>
                  </tr>

                  <tr>
                    <td><a href="career-single-page.html">Capital Markets Analyst</td>
                    <td>Brooklyn, NY, US</td>
                    <td>Consumer Products Consulting</td>
                    <td>January 8, 2017</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item"><a href="about.html">About Us</a></li>
                <li class="sidebar_list_item"><a href="our-approach.html">Our approach</a></li>
                <li class="sidebar_list_item"><a href="our-partners.html">Our partners</a></li>
                <li class="sidebar_list_item sidebar_list_item--current"><a href="careers.html">Careers</a></li>
                <li class="sidebar_list_item"><a href="#">Our Team</a></li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone"><use xlink:href="#icon-smartphone"></use></svg>
                  </div>

                  <div class="sidebar_contact_text">
                     Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section-parallax">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="phrase">
            <div class="phrase_text">
              <b>looking for a first-class</b>
              business consultant?
            </div>

            <a href="#" class="btn btn--secondary">Get a quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')