@@include('inc/header.html', {
"title": "Career Single Page"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="about.html">About Us</a></li>
              <li class="breadcrumbs_item"><a href="careers.html">Careers</a></li>
              <li class="breadcrumbs_item">Business Analyst</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <h2 class="title">Business Analyst</h2>

          <div class="career-details">
            <ul class="career-details_list">
              <li class="career-details_item">Department: <strong> Surface Transport & Logistics Consulting
</strong></li>
              <li class="career-details_item">Location: <strong>New York, US</strong></li>
              <li class="career-details_item">Compensation: <strong>36K per annum</strong></li>
              <li class="career-details_item">Education: <strong>Master's Degree</strong></li>
            </ul>
          </div>
          <p>
            Jameson Consulting is looking for young and inspired professionals to lead our company in the future. We appreciate your commitment and reward it equally. If you want to reach new professional heights and get valuable experience - join our team.
          </p>

          <div class="row mb-4">
            <div class="col-md-6">
              <h2>Responsibilities</h2>
              <ul class="list list--marked">
                <li>On-spot analysis of client’s logistics;</li>
                <li>In-depth research and analysis of acquired data;</li>
                <li>Creation of reports and infographics;</li>
                <li>Great analytical skills;</li>
                <li>Assisting senior analysts if needed;</li>
                <li>Data gathering and normalization;</li>
              </ul>
            </div>

            <div class="col-md-6">
              <h2>Skills/Experience</h2>

              <p>
                Candidates should be ready for direct contacts with clients, regular business trips and tight cooperation with senior members of the New York department.
              </p>

              <ul class="list list--marked">
                <li>Minor experience in business analytics welcomed;</li>
                <li>Providing legal and scholarly research;</li>
                <li>Supreme communication skills</li>
                <li>Documentation writing skills</li>
                <li>Ability to create visual representation of results</li>
                <li>Advanced knowledge of professional applications</li>
              </ul>
            </div>
          </div>


          <button type="button" class='btn btn--secondary btn--sm mb-3'>Apply</button>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item sidebar_list_item--current"><a href="cases-single.html">Deputy principal construction manager</a></li>
                <li class="sidebar_list_item"><a href="cases-single.html">Constructing the best-in-class
                  global assets</a></li>
                <li class="sidebar_list_item"><a href="cases-single.html">Focus on core delivers growth
                  for retailer trading</a></li>
                <li class="sidebar_list_item"><a href="cases-single.html">Healthcare giant overcomes
                  merger in 2015</a></li>
                <li class="sidebar_list_item"><a href="cases-single.htmls">Pricing games: A technology
                  Company boast</a></li>
                <li class="sidebar_list_item"><a href="cases-single.html">Transformation sparks
                  financial income for all</a></li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone"><use xlink:href="#icon-smartphone"></use></svg>
                  </div>

                  <div class="sidebar_contact_text">
                     Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')