@@include('inc/header.html', {
"title": "Cases with filter"
})


<main class="content">
  <section class="section-head">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Our cases with filter</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Cases with filter</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">

          <nav class="filters">
            <ul class="filters_list">
              <li class="filters_item"><button type="button" class="btn btn--filter" data-filter="all">All</button></li>
              <li class="filters_item"><button type="button" class="btn btn--filter" data-filter=".surface">Surface Transport & Logistics</button></li>
              <li class="filters_item"><button type="button" class="btn btn--filter" data-filter=".business">Business Services</button></li>
              <li class="filters_item"><button type="button" class="btn btn--filter" data-filter=".cunsumer">Consumer Products</button></li>
              <li class="filters_item"><button type="button" class="btn btn--filter" data-filter=".travel">Travel & Aviation</button></li>
            </ul>
          </nav>

          <div class="row">
            <div class="cases-area">
                <article class="post post--case post--case-filtered mix surface">
                  <header class="entry-header">
                    <a href="cases-single.html" class="entry-header_cover">
                      <img src="img/cases/01.jpg" alt="">
                    </a>
                  </header>

                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Leading consumer products companies</a>
                      <span>Financial Services</span>
                    </h3>
                  </div>
                </article>

                <article class="post post--case post--case-filtered mix business">
                  <header class="entry-header">
                    <a href="cases-single.html" class="entry-header_cover">
                      <img src="img/cases/02.jpg" alt="">
                    </a>
                  </header>

                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Leading consumer products companies</a>
                      <span>Financial Services</span>
                    </h3>
                  </div>
                </article>

                <article class="post post--case post--case-filtered mix travel">
                  <header class="entry-header">
                    <a href="cases-single.html" class="entry-header_cover">
                      <img src="img/cases/03.jpg" alt="">
                    </a>
                  </header>

                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Leading consumer products companies</a>
                      <span>Financial Services</span>
                    </h3>
                  </div>
                </article>

              <article class="post post--case post--case-filtered mix business">
                <header class="entry-header">
                  <a href="cases-single.html" class="entry-header_cover">
                    <img src="img/cases/04.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Leading consumer products companies</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>

              <article class="post post--case post--case-filtered mix surface">
                <header class="entry-header">
                  <a href="cases-single.html" class="entry-header_cover">
                    <img src="img/cases/05.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Leading consumer products companies</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>

              <article class="post post--case post--case-filtered mix cunsumer">
                <header class="entry-header">
                  <a href="cases-single.html" class="entry-header_cover">
                    <img src="img/cases/06.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Leading consumer products companies</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>

              <article class="post post--case post--case-filtered mix cunsumer">
                <header class="entry-header">
                  <a href="cases-single.html" class="entry-header_cover">
                    <img src="img/cases/07.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Leading consumer products companies</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>

              <article class="post post--case post--case-filtered mix travel">
                <header class="entry-header">
                  <a href="cases-single.html" class="entry-header_cover">
                    <img src="img/cases/01.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Leading consumer products companies</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>

              <article class="post post--case post--case-filtered mix cunsumer">
                <header class="entry-header">
                  <a href="cases-single.html" class="entry-header_cover">
                    <img src="img/cases/07.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Leading consumer products companies</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>

            </div>

            <div class="text-center mt-3 mb-3">
              <button type="button" class="btn btn--secondary">load more</button>
            </div>
          </div>
        </section>
        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">How can we help you?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone">
                      <use xlink:href="#icon-smartphone"></use>
                    </svg>
                  </div>

                  <div class="sidebar_contact_text">
                    Contact us at the Consulting WP office nearest to you or submit a business inquiry
                    online.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Aniston
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                    incorrupte eum. Mea ad scaevola tacimates reformidans.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>
              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Download</h3>
              <p>Jameson Consulting Presentation</p>
              <a href="#" class="btn btn--secondary btn--full"><i class="fi fi-pdf-file"></i>Download presentation</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section-parallax">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="phrase">
            <div class="phrase_text">
              <b>looking for a first-class</b>
              business consultant?
            </div>

            <a href="#" class="btn btn--secondary">Get a quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')