@@include('inc/header.html', {
"title": "Cases"
})


<main class="content">
  <section class="section-head">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Our Cases</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Cases</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/01.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Capital investment in style</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/02.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Driving toward the future of transportation</a>
                    <span>Surface Transport & Logistics</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/03.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Digging into the brightest ideas</a>
                    <span>Energy & Environment</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/04.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Cutting costs while going further</a>
                    <span>Travel & Aviation</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/05.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Reinventing restaurant business</a>
                    <span>Consumer Products</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/05.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Banking on a great changes</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/01.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Predictive analytics that cured the healthcare business</a>
                    <span>Business Services</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/07.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Removing dirty risks for an oil company</a>
                    <span>Energy & Environment</span>
                  </h3>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--case">
                <header class="entry-header">
                  <a href="#" class="entry-header_cover">
                    <img src="img/cases/01.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="#">Leading consumer products companies</a>
                    <span>Financial Services</span>
                  </h3>
                </div>
              </article>
            </div>
          </div>

          <div class="text-center mt-3">
            <button type="button" class="btn btn--secondary mb-3">load more</button>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone"><use xlink:href="#icon-smartphone"></use></svg>
                  </div>

                  <div class="sidebar_contact_text">
                    Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>

              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')