@@include('inc/header.html', {
"title": "Case Single"
})


<main class="content">
  <section class="section-head">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Our Cases</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Cases single</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <div class="category">Financial Services</div>
          <h2 class="title">Demand as transportation services as commerce</h2>

          <figure class="mb-3">
            <img src="img/about-2.jpg" alt="">
          </figure>

          <h4 class="content-title">
            For one leading pharmaceutical laboratory, success and double-digit sales growth came with a cost: an
            overburdened supply chain that threatened to reduce market share.
          </h4>

          <p>
            Has principes torquatos te. Essent dicunt sanctus eos ad, cu eum ferri erant numquam. In mel meliore
            comprehensam, mea laudem inermis id, ad eros blandit quo. Ea prompta noluisse pro, est eu possit lobortis,
            id qui nominati hendrerit. Vix debet explicari delicatissimi eu, cu his facilisis gloriatur. Sed ex veniam
            meliore.
          </p>

          <p>
            Vim eu solet iudico labores, mei enim dolore nominavi ex. Nam iusto ornatus docendi in. Ei eam iudico mollis,
            ut mea pertinax efficiantur, impedit lobortis sit ea. Detracto philosophia nam ex, cu his regione aperiri,
            epicurei persecuti omittantur ex has.
          </p>

          <h2>challenge</h2>

          <p>
            The biggest challenge was that Arguzo was not utilizing technology properly. Too much of the work was still
            being recorded manually, which meant that the numbers took a long time to note down and then to be analyzed.
            Live data was also not available and decisions can only be made after all the required data and been
            received. This was holding Arguzo back; they knew they could corner more of the market if they had the
            ability to be more mobile. The work addressed three critical issues for Pharm Ltd.:
          </p>

          <ul class="list list--marked">
            <li>
              <strong class="strong-line">Improve sales and operations and production planning:</strong>
              The teams focused their efforts on a few of the highest-value S&OP levers in order to review the current
              planning process, identify gaps in the planning infrastructure and analytically understand demand and
              supply variability.
            </li>

            <li>
              <strong class="strong-line">Determine the right inventory level:</strong>
              With hundreds of medications in the market, Pharm Ltd. needed a proper method to predict and manage
              their inventory. Using a mean absolute percentage analysis (MAPE), the teams defined appropriate levels
              for raw materials and finished products by mapping actual versus forecasted sales on the most important SKUs.
            </li>
          </ul>

          <h2>solution</h2>

          <p>
            The solution WP consulting came up with combined cutting edge technology with real world practicality.
            Everyone knew that the systems had to be updated, the real challenge was updating them without disrupting
            the whole organization in a negative way. The solution was to introduce proper workload management done
            through computers, while providing mobile platforms to the stakeholders.
          </p>

          <p>
            This allowed the workers to be involved in the job instead of feeling like they had been made redundant
            by technology.
          </p>

          <h2>results</h2>

          <p>
            Arguzo employees are now more empowered; Arguzo also has the benefit of generating reports instantaneously
            whenever needed. They can now make decisions on the fly based on the latest real time data.
          </p>

          <p>
            The effort vastly improved the company’s planning and execution functions, created and implemented a new
            stock policy that accounted for specific SKUs and key variables, streamlined the order preparation process
            and reduced distribution transport times.
          </p>

          <div class="row">
            <div class="col-md-7">
              <canvas id="lineChart" width="400" height="200"></canvas>
            </div>

            <div class="col-md-5">
              <p>By the numbers, the effort:</p>
              <ul class="list list--marked">

                <li><strong>Reduced lead time by 43%</strong></li>
                <li><strong>Decreased variability by 50%</strong></li>
                <li><strong>Lowered the risk of back-order by 95%</strong></li>
                <li><strong>Increased stock for finished goods by 10%</strong></li>
              </ul>
            </div>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item sidebar_list_item--current"><a href="service-single.html">Demand as transportation
                  services as commerce</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Constructing the best-in-class
                  global assets</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Focus on core delivers growth
                  for retailer trading</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Healthcare giant overcomes
                  merger in 2015</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Pricing games: A technology
                  Company boast</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Transformation sparks
                  financial income for all</a></li>
              </ul>
            </div>


            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">How can we help you?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone">
                      <use xlink:href="#icon-smartphone"></use>
                    </svg>
                  </div>

                  <div class="sidebar_contact_text">
                    Contact us at the Consulting WP office nearest to you or submit a business inquiry
                    online.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Aniston
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                    incorrupte eum. Mea ad scaevola tacimates reformidans.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">recent news</h3>
              <ul class="links-list">
                <li class="links-list_item">
                  <a href="news-single-page.html">Within the construction industry as their overdraft</a>
                  <span class="date"><i class="fi fi-calendar"></i>January 22, 2016</span>
                </li>
                <li class="links-list_item">
                  <a href="news-single-page.html">Strategic and commercial approach with issues</a>
                  <span class="date"><i class="fi fi-calendar"></i>January 22, 2016</span>
                </li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>
              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Download</h3>
              <p>Jameson Consulting Presentation</p>
              <a href="#" class="btn btn--secondary btn--full"><i class="fi fi-pdf-file"></i>Download presentation</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')