@@include('inc/header.html', {
"title": "Contact Us"
})


<main class="content">
  <section class="section-head section-head--contacts">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Get in touch</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Contact us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <div id="map" class="map map--contact mb-3" data-zoom="15" data-coordinates="38.721103, -90.326230" data-key="AIzaSyBMe_D6gusKtAYXmSwgO8iXFPlb4c0iOwU" data-center="38.721103, -90.326230"></div>

          <h2>Feedback form</h2>

          <form action="#" id="contact-form" class="form">
            <div class="row">
              <div class="col-md-4">
                <input type="text" class="form-control" name="first-name" placeholder="First Name">
              </div>

              <div class="col-md-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" name="phone" placeholder="Phone">
              </div>

              <div class="col-md-12">
                <textarea rows="5" class="form-control" name="message" placeholder="Your Message"></textarea>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn--secondary">SEND</button>

                <div id="progress" style="position: absolute; bottom: 0; display: none; ">msg</div>
              </div>

            </div>
          </form>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <h3 class="title-widget">contact details</h3>

              <ul class="places">
                <li class="places_item">
                  <i class="fi fi-placeholder"></i>
                  1010 Avenue of the Moon, New York,<br>
                  NY 10018 US.
                </li>
                <li class="places_item">
                  <i class="fi fi-phone-receiver"></i>
                  <a href="tel:+16281234000">+1 628 123 4000</a>
                </li>
                <li class="places_item">
                  <i class="fi fi-envelope"></i>
                  <a href="mailto:jameson@example.com">jameson@example.com</a>
                </li>
                <li class="places_item">
                  <i class="fi fi-clock-circular-outline"></i>
                  Mon - Sat 8.00 - 18.00.<br>
                  Sunday CLOSED
                </li>
              </ul>

            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>

              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="contact-person">
                <div class="contact-person_img">
                  <img src="img/contact-persons/01.png" alt="">
                </div>

                <div class="contact-person_details">
                  <h4 class="contact-person_name">Monica Matheys</h4>
                  <ul class="contact-person_contacts">
                    <li>Email: <a href="mailto:berg@example.com">berg@example.com</a></li>
                    <li>Skype: <a href="skype:bergconsulting">bergconsulting</a></li>
                  </ul>
                </div>
              </div>

              <div class="contact-person">
                <div class="contact-person_img">
                  <img src="img/contact-persons/02.png" alt="">
                </div>

                <div class="contact-person_details">
                  <h4 class="contact-person_name">Monica Matheys</h4>
                  <ul class="contact-person_contacts">
                    <li>Email: <a href="mailto:berg@example.com">berg@example.com</a></li>
                    <li>Skype: <a href="skype:bergconsulting">bergconsulting</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')