@@include('inc/header.html', {
"title": "Home "
})

<section class="banner">
  <!-- Swiper -->
  <div class="banner-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="banner-slide swiper-slide" style="background-image: url('img/banner-slider/01.png'); ">
        <div class="slide-container">
          <div class="slide-content slide-content--left" data-caption-animate="fadeInUp">
            <h2 class="slide-title">Professional Consulting For Your Business</h2>
            <p class="slide-text">
              Being professionals in business consulting for over a decade, 
              we use our experience at its fullest for your business to prosper.
            </p>

            <div class="slide-btn-group">
              <a href="about.html" class="btn btn--primary">Our Company</a>
              <a href="contact-us.html" class="btn btn--primary">Contact Us</a>
            </div>

            <div class="slide-content_img slide-content_img--lg">
              <img src="img/banner-slider/01_man.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="banner-slide swiper-slide" style="background-image: url('img/banner-slider/02.png'); ">
        <div class="slide-container">
          <div class="slide-content slide-content--right" data-caption-animate="fadeInUp">
            <h2 class="slide-title">Innovative Strategies and Methods</h2>
            <p class="slide-text">
              Jameson Consulting uses only up-to-date information and new business methods, 
              providing the most effective solutions for your business
            </p>

            <div class="slide-btn-group">
              <a href="about.html" class="btn btn--primary">Our Company</a>
              <a href="contact-us.html" class="btn btn--primary">Contact Us</a>
            </div>

            <div class="slide-content_img">
              <img src="img/banner-slider/02_man.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="banner-slide swiper-slide" style="background-image: url('img/banner-slider/03.png'); ">
        <div class="slide-container">
          <div class="slide-content slide-content--left" data-caption-animate="fadeInUp">
            <h2 class="slide-title">Working with a Great Care</h2>
            <p class="slide-text">
              Each time we provide more and more services for our clients, exceeding your expectations.
            </p>

            <div class="slide-btn-group">
              <a href="about.html" class="btn btn--primary">Our Company</a>
              <a href="contact-us.html" class="btn btn--primary">Contact Us</a>
            </div>

            <div class="slide-content_img slide-content_img--lg">
              <img src="img/banner-slider/03_man.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Arrows -->
    <div class="swiper-button-next"><i class="fi fi-right-arrow"></i></div>
    <div class="swiper-button-prev"><i class="fi fi-left-arrow"></i></div>
  </div>
</section>

<section class="index-posts">
  <div class="container-fluid container-fluid--custom">
    <div class="row row--custom">
      <div class="col-md-4">
        <article class="post">
          <header class="entry-header">
            <a href="cases-single.html">
              <img src="img/posts/01.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Why our consulting</a>
            </h3>
            <p>
              We are a team of qualified professionals with a great experience in marketing and business development strategies.
            </p>
          </div>

          <footer class="entry-footer">
            <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
          </footer>
        </article>
      </div>

      <div class="col-md-4">
        <article class="post">
          <header class="entry-header">
            <a href="cases-single.html">
              <img src="img/posts/02.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Variety of services</a>
            </h3>
            <p>
              From management consulting to tax and audit. Our team will cover almost every sphere of your business.
            </p>
          </div>

          <footer class="entry-footer">
            <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
          </footer>
        </article>
      </div>

      <div class="col-md-4">
        <article class="post">
          <header class="entry-header">
            <a href="cases-single.html">
              <img src="img/posts/03.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Planning your future</a>
            </h3>
            <p>
              We propose a number of solutions for your issues, calculating the future possibilities of your business.
            </p>
          </div>

          <footer class="entry-footer">
            <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section-service">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span class="section-heading_secondary">Our Services</span>
          <h2 class="section-heading_main">Industries</h2>
        </div>
      </div>
    </div>

    <div class="row row--flex row--flex-wrap">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="service">
          <div class="service_icon">
            <img src="img/icons/airplane.png" alt="">
          </div>
          <h3 class="service_title">Travel and Aviation Consulting</h3>
          <p>
            Enhancing and optimizing the work of world’s leading airports, airlines, hotels and travelling agencies for better strategic positioning and business performance.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="service">
          <div class="service_icon">
            <img src="img/icons/analytics.png" alt="">
          </div>
          <h3 class="service_title">Business Services Consulting</h3>
          <p>
            Continuous development and improvement of our methods guarantees the stability in growth and creation of competitive advantage of your business.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="service">
          <div class="service_icon">
            <img src="img/icons/basket.png" alt="">
          </div>
          <h3 class="service_title">Consumer Products Consulting</h3>
          <p>
            Our company’s consumer products consulting convey persisting development of the brand at altogether higher returns than undifferentiated contenders. 
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="service">
          <div class="service_icon">
            <img src="img/icons/invoice.png" alt="">
          </div>
          <h3 class="service_title">Financial Services Consulting</h3>
          <p>
            We help our clients in developing and maintaining financial strategies, allowing them to win the increasingly challenging market.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="service">
          <div class="service_icon">
            <img src="img/icons/worldwide.png" alt="">
          </div>
          <h3 class="service_title">Energy and Environment Consulting</h3>
          <p>
            Professional guidance of industrial companies on new regulations and technology issues provide persistent prosperity to our clients.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="service">
          <div class="service_icon">
            <img src="img/icons/motorbike.png" alt="">
          </div>
          <h3 class="service_title">Surface Transport & Logistics Consulting</h3>
          <p>
            Advanced logistics practice provided by our team offer the best solutions for transport companies in their most complex challenges.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-parallax">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-12">
        <div class="phrase">
          <div class="phrase_text">
            Have an urgent need in a <b>professional business consultant ?</b>
          </div>
          <a href="#" class="btn btn--secondary">Get a quote</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-statistic">
  <div class="container-fluid container-fluid--custom">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="statistic">
          <div class="statistic_icon">
            <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
          </div>

          <div class="statistic_content">
            <div class="statistic_number">952</div>
            <div class="statistic_descr">Issues resolved</div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="statistic">
          <div class="statistic_icon">
            <svg class="icon icon-operator"><use xlink:href="#icon-operator"></use></svg>
          </div>

          <div class="statistic_content">
            <div class="statistic_number">39</div>
            <div class="statistic_descr">Professional consultants</div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="statistic">
          <div class="statistic_icon">
            <svg class="icon icon-medal"><use xlink:href="#icon-medal"></use></svg>
          </div>

          <div class="statistic_content">
            <div class="statistic_number">863</div>
            <div class="statistic_descr">Awards acquired</div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="statistic">
          <div class="statistic_icon">
            <svg class="icon icon-users"><use xlink:href="#icon-users"></use></svg>
          </div>

          <div class="statistic_content">
            <div class="statistic_number">100%</div>
            <div class="statistic_descr">Client satisfactions</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span class="section-heading_secondary">Our Team</span>
          <h2 class="section-heading_main">OUR Best ADVISORS</h2>
        </div>
      </div>
    </div>

    <div class="row row--flex row--flex-wrap">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="person">
          <a href="our-team.html" class="person_photo">
            <img src="img/team/01.png" alt="">
          </a>

          <div class="person_name">
            Eric Greenberg
            <span>Senior Consultant</span>
          </div>

          <div class="person_socials">
            <ul class="socials socials--person">
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-twitter"></i>Twitter</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-facebook-logo"></i>Facebook</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-camera"></i>Instagram</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-linkedin-logo"></i>Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="person">
          <a href="our-team.html" class="person_photo">
            <img src="img/team/02.png" alt="">
          </a>

          <div class="person_name">
            Sandra Scott
            <span>Senior Consultant</span>
          </div>

          <div class="person_socials">
            <ul class="socials socials--person">
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-twitter"></i>Twitter</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-facebook-logo"></i>Facebook</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-camera"></i>Instagram</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-linkedin-logo"></i>Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="person">
          <a href="our-team.html" class="person_photo">
            <img src="img/team/03.png" alt="">
          </a>

          <div class="person_name">
            Daniel Smith
            <span>Senior Consultant</span>
          </div>

          <div class="person_socials">
            <ul class="socials socials--person">
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-twitter"></i>Twitter</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-facebook-logo"></i>Facebook</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-camera"></i>Instagram</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-linkedin-logo"></i>Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="person">
          <a href="our-team.html" class="person_photo">
            <img src="img/team/04.png" alt="">
          </a>

          <div class="person_name">
            Samantha Davis
            <span>Senior Consultant</span>
          </div>

          <div class="person_socials">
            <ul class="socials socials--person">
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-twitter"></i>Twitter</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-facebook-logo"></i>Facebook</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-camera"></i>Instagram</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-linkedin-logo"></i>Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-partners">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-12">
        <div class="swiper-container partners-carousel">
          <ul class="swiper-wrapper partners">
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/01.png" alt=""></a></li>
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/02.png" alt=""></a></li>
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/03.png" alt=""></a></li>
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/04.png" alt=""></a></li>
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/05.png" alt=""></a></li>
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/06.png" alt=""></a></li>
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/07.png" alt=""></a></li>
            <li class="swiper-slide"><a href="our-partners.html"><img src="img/partners/08.png" alt=""></a></li>
          </ul>
        </div>

        <button class="btn btn--prev"><i class="fi fi-back"></i></button>
        <button class="btn btn--next"><i class="fi fi-next"></i></button>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span class="section-heading_secondary">Our Customers</span>
          <h2 class="section-heading_main">testimonials</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="swiper-container testimonials-carousel">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/02.png" alt="">
                  </div>

                  <div class="author_name">
                    Rick Upton
                    <span>Game Development Studio Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    As a small game development studio in the past, we almost never faced challenges with management of the business. Now we have over 100 professionals in the state, and it’s hard to deal with on your own. I can’t imagine how things would’ve turned if not Jameson Consulting.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/03.png" alt="">
                  </div>

                  <div class="author_name">
                    Greg Iverson
                    <span>Online Store Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    You know it’s hard to manage the logistics if you have thousands of orders pending. Luckily, Jameson Consulting can give you a helping hand. And not only with that, they also got covered all the legislative issues.
                  </p>
                </blockquote>
              </div>
            </div>
          </div>

          <!-- Arrows -->
          <div class="testimonials-carousel_controls">
            <div class="btn-prev"><i class="fi fi-left-arrow"></i></div>
            <div class="btn-next"><i class="fi fi-right-arrow"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--dark">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span class="section-heading_secondary">Our Last</span>
          <h2 class="section-heading_main">News</h2>
        </div>
      </div>
    </div>

    <div class="row row--flex row--flex-wrap row--nopadding">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="img/news/01.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Present your ideas to the Audit Committee the right way</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="img/news/04.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Biggest concerns when choosing a vendor</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="img/news/03.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Data Analytics: basic information</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3">
        <article class="post post--news">
          <header class="entry-header">
            <a href="cases-single.html" class="entry-header_cover">
              <img src="img/news/04.jpg" alt="">
            </a>
          </header>

          <div class="entry-content">
            <h3 class="post_title">
              <a href="cases-single.html">Charity affairs and their benefits</a>
            </h3>
          </div>

          <footer class="entry-footer">
            <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section-contact">
  <div class="container-fluid container-fluid--custom">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="section-heading section-heading--left">
          <span class="section-heading_secondary">Contact Us</span>
          <h2 class="section-heading_main">request a call back</h2>
        </div>
        <p class="contact-info">
          Prefer solving issues via the phone? Submit your details and we will call back shortly. Otherwise, you can email us directly to get a fast response.
        </p>

        <form action="#" id="contact-form-home" class="form">
          <div class="row">
            <div class="col-md-6">
              <select class="form-control" name="b-plan">
                <option>Business Planning</option>
                <option>Business Planning</option>
                <option>Business Planning</option>
                <option>Business Planning</option>
              </select>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="name" placeholder="Name"  required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" name="phone" placeholder="Phone" required>
            </div>
            <div class="col-md-6 text-right">
              <button type="submit" class="btn btn--secondary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section-map">
  <div class="container-fluid">
    <div id="map" class="map" data-zoom="15" data-coordinates="38.721103, -90.326230" data-key="AIzaSyBMe_D6gusKtAYXmSwgO8iXFPlb4c0iOwU" data-center="38.721103, -90.326230"></div>
  </div>
</section>

@@include('inc/footer.html')

