@@include('inc/header.html', {
"title": "News Single Page"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Within the construction industry as their overdraft </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <h2 class="title">Within the construction industry as their overdraft</h2>

          <figure class="mb-3">
            <img src="img/news/single/01.png" alt="">
          </figure>

          <ul class="post-details">
            <li class="post-details_item"><i class="fi fi-school-calendar2"></i><a href="#" class="post-details_link">January 22, 2016</a></li>
            <li class="post-details_item"><i class="fi fi-user"></i><a href="#" class="post-details_link">January 22, 2016</a></li>
            <li class="post-details_item">Category: <a href="#" class="post-details_link">Funding trends</a></li>
          </ul>

          <p>
            Has principes torquatos te. Essent dicunt sanctus eos ad, cu eum ferri erant numquam. In mel meliore
            comprehensam, mea laudem inermis id, ad eros blandit quo. Ea prompta noluisse pro, est eu possit lobortis,
            id qui nominati hendrerit. Vix debet explicari delicatissimi eu, cu his facilisis gloriatur. Sed ex veniam
            meliore.
          </p>

          <p>
            Vim eu solet iudico labores, mei enim dolore nominavi ex. Nam iusto ornatus docendi in. Ei eam iudico mollis,
            ut mea pertinax efficiantur, impedit lobortis sit ea. Detracto philosophia nam ex, cu his regione aperiri,
            epicurei persecuti omittantur ex has.
          </p>

          <h2>challenge</h2>

          <p>
            The biggest challenge was that Arguzo was not utilizing technology properly. Too much of the work was still
            being recorded manually, which meant that the numbers took a long time to note down and then to be analyzed.
            Live data was also not available and decisions can only be made after all the required data and been
            received. This was holding Arguzo back; they knew they could corner more of the market if they had the
            ability to be more mobile. The work addressed three critical issues for Pharm Ltd.:
          </p>

          <ul class="list list--marked">
            <li>
              <strong class="strong-line">Improve sales and operations and production planning:</strong>
              The teams focused their efforts on a few of the highest-value S&OP levers in order to review the current
              planning process, identify gaps in the planning infrastructure and analytically understand demand and
              supply variability.
            </li>

            <li>
              <strong class="strong-line">Determine the right inventory level:</strong>
              With hundreds of medications in the market, Pharm Ltd. needed a proper method to predict and manage
              their inventory. Using a mean absolute percentage analysis (MAPE), the teams defined appropriate levels
              for raw materials and finished products by mapping actual versus forecasted sales on the most important SKUs.
            </li>
          </ul>

          <h2>solution</h2>

          <p>
            The solution WP consulting came up with combined cutting edge technology with real world practicality.
            Everyone knew that the systems had to be updated, the real challenge was updating them without disrupting
            the whole organization in a negative way. The solution was to introduce proper workload management done
            through computers, while providing mobile platforms to the stakeholders.
          </p>

          <p>
            This allowed the workers to be involved in the job instead of feeling like they had been made redundant
            by technology.
          </p>

          <div class="tags">
            <a href="#" class="tags_item">#business</a>
            <a href="#" class="tags_item">#consulting</a>
            <a href="#" class="tags_item">#analytics</a>
          </div>

          <div class="share">
            <span class="share_label">Share:</span>
            <ul class="socials socials--person">
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-twitter"></i>Twitter</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-facebook-logo"></i>Facebook</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-camera"></i>Instagram</a></li>
              <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-linkedin-logo"></i>Linkedin</a></li>
            </ul>
          </div>

          <div class="post-author">
            <div class="post-author_img">
              <img src="img/author.png" alt="">
            </div>
            <div class="post-author_content">
              <h5 class="post-author_name">Author: <a href="#">admin</a></h5>

              <p>
                I help entrepreneurs get ready to seek funding by developing first-class pitch decks, business
                plans, and financial forecasts. If you'd like to learn more, please look around our website and
                contact us!
              </p>
            </div>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item sidebar_list_item--current"><a href="service-single.html">within the construction industry as their overdraft</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Constructing the best-in-class
                  global assets</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Focus on core delivers growth
                  for retailer trading</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Healthcare giant overcomes
                  merger in 2015</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Pricing games: A technology
                  Company boast</a></li>
                <li class="sidebar_list_item"><a href="service-single.html">Transformation sparks
                  financial income for all</a></li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">recent news</h3>
              <ul class="links-list">
                <li class="links-list_item">
                  <a href="news-single-page.html">Within the construction industry as their overdraft</a>
                  <span class="date"><i class="fi fi-calendar"></i>January 22, 2016</span>
                </li>
                <li class="links-list_item">
                  <a href="news-single-page.html">Strategic and commercial approach with issues</a>
                  <span class="date"><i class="fi fi-calendar"></i>January 22, 2016</span>
                </li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>
              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')