@@include('inc/header.html', {
"title": "Our Approach"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="about.html">About Us</a></li>
              <li class="breadcrumbs_item">Our Approach</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <div class="swiper-container about-us-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/about-us-main.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/about-us-main.jpg" alt=""></div>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination swiper-pagination--custom"></div>
          </div>

          <h2 class="title">Our approach</h2>

          <p>
            Jameson Consulting believes that a consulting company should be more than just an advisor. We treat each of our clients with equal high professionalism, but individual approach. That’s why our clients consider JC as partners rather than just consultants. Treating each business we help as our own, we carefully analyze each issue and solve it in the shortest terms. The combination of our rich experience and the passion we work with allows JC to constantly deliver innovative and accurate solutions.
          </p>

          <p>
            After we have worked with you on the identification of the main cause of the issue, our focus moves to the development of the actual work plan. We include the point by point mapping of courses of events, tasks and milestones. Project tracking increases the value of the process by rapidly distinguishing and eliminating roadblocks, and also guaranteeing that your project is successfully finished on time and due to your spending plan.
          </p>

          <figure class="mb-4 mt-3">
            <img src="img/approach.jpg" alt="">
          </figure>

          <div class="row row--flex row--flex-wrap row--flex-space">
            <div class="col-md-6 col-lg-4">
              <article class="approach">
                <header class="approach_header">
                  <div class="approach_icon"><img src="img/icons/airplane.png" alt=""></div>
                  <h4 class="approach_title">Travel and Aviation Consulting</h4>
                </header>

                <div class="approach_content">
                  Enhancing and optimizing the work of world’s leading airports, airlines, hotels and travelling agencies for better strategic positioning and business performance.
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="approach">
                <header class="approach_header">
                  <div class="approach_icon"><img src="img/icons/analytics.png" alt=""></div>
                  <h4 class="approach_title">Business Services Consulting</h4>
                </header>

                <div class="approach_content">
                   Continuous development and improvement of our methods guarantees the stability in growth and creation of competitive advantage of your business.
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="approach">
                <header class="approach_header">
                  <div class="approach_icon"><img src="img/icons/basket.png" alt=""></div>
                  <h4 class="approach_title">Consumer Products Consulting</h4>
                </header>

                <div class="approach_content">
                   Our company’s consumer products consulting convey persisting development of the brand at altogether higher returns than undifferentiated contenders.
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="approach">
                <header class="approach_header">
                  <div class="approach_icon"><img src="img/icons/invoice.png" alt=""></div>
                  <h4 class="approach_title">Financial Services Consulting</h4>
                </header>

                <div class="approach_content">
                  We help our clients in developing and maintaining financial strategies, allowing them to win the increasingly challenging market.
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="approach">
                <header class="approach_header">
                  <div class="approach_icon"><img src="img/icons/worldwide.png" alt=""></div>
                  <h4 class="approach_title">Energy and Environment Consulting</h4>
                </header>

                <div class="approach_content">
                  Professional guidance of industrial companies on new regulations and technology issues provide persistent prosperity to our clients.
                </div>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="approach">
                <header class="approach_header">
                  <div class="approach_icon"><img src="img/icons/motorbike.png" alt=""></div>
                  <h4 class="approach_title">Surface Transport & Logistics Consulting</h4>
                </header>

                <div class="approach_content">
                  Advanced logistics practice provided by our team offer the best solutions for transport companies in their most complex challenges.
                </div>
              </article>
            </div>
          </div>

          <p class="mb-3">
            Excellence has dependably been our standard, with each colleague showing an abnormal state of morals, respectability and polished skill.
          </p>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item"><a href="about.html">About Us</a></li>
                <li class="sidebar_list_item sidebar_list_item--current"><a href="our-approach.html">Our approach</a></li>
                <li class="sidebar_list_item"><a href="our-partners.html">Our partners</a></li>
                <li class="sidebar_list_item"><a href="careers.html">Careers</a></li>
                <li class="sidebar_list_item"><a href="our-team.html">Our Team</a></li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">refer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone"><use xlink:href="#icon-smartphone"></use></svg>
                  </div>

                  <div class="sidebar_contact_text">
                     Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">recent news</h3>
              <ul class="links-list">
                <li class="links-list_item">
                  <a href="news-single-page.html">Present your ideas to the Audit Committee the right way</a>
                  <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
                </li>
                <li class="links-list_item">
                  <a href="news-single-page.html">Biggest concerns when choosing a vendor</a>
                  <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
                </li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>

              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Download</h3>
              <p>Jameson Consulting Presentation</p>
              <a href="#" class="btn btn--secondary btn--full"><i class="fi fi-pdf-file"></i>Download presentation</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')