@@include('inc/header.html', {
"title": "Our Team"
})


<main class="content">
  <section class="section-head">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Our Team</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="about.html">About us</a></li>
              <li class="breadcrumbs_item">Team</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <div class="row row--flex row--flex-wrap row--flex-space">
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="person person--list">
                <a href="team-single-page.html" class="person_photo">
                  <img src="img/team/01.png" alt="">
                </a>

                <div class="person_name">
                  James O’hara
                  <span>CEO / Founder</span>
                </div>

                <div class="person_text">
                  <p>
                    The founder of Jameson Consulting. Is a professional in business analysis, marketing and management with more than 30 years of experience.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="person person--list">
                <a href="team-single-page.html" class="person_photo">
                  <img src="img/team/02.png" alt="">
                </a>

                <div class="person_name">
                  Jeff Bridges
                  <span>Business Analyst</span>
                </div>

                <div class="person_text">
                  <p>
                    Jeff is a business analyst with over 10 years career experience in the consumer goods, publishing and financial sectors.
                  </p>
                </div>

              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="person person--list">
                <a href="team-single-page.html" class="person_photo">
                  <img src="img/team/03.png" alt="">
                </a>

                <div class="person_name">
                  Gina Gregory
                  <span>Marketing Specialist</span>
                </div>

                <div class="person_text">
                  <p>
                    Experienced B2B marketer with talent in developing and implementing strategic marketing plans to ensure project success.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="person person--list">
                <a href="team-single-page.html" class="person_photo">
                  <img src="img/team/07.png" alt="">
                </a>

                <div class="person_name">
                  Eric Washington
                  <span>Technical expert</span>
                </div>

                <div class="person_text">
                  <p>
                    An expert across the technology sector, a senior manager and technology consultant, IT-cluster specialist.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="person person--list">
                <a href="team-single-page.html" class="person_photo">
                  <img src="img/team/05.png" alt="">
                </a>

                <div class="person_name">
                  Alexa Williams
                  <span>Human Resources</span>
                </div>

                <div class="person_text">
                  <p>
                    Senior HR and Training professional, with a great aspiration for personnel improvement.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="person person--list">
                <a href="team-single-page.html" class="person_photo">
                  <img src="img/team/06.png" alt="">
                </a>

                <div class="person_name">
                  Samantha Matheys
                  <span>Senior Consultant</span>
                </div>

                <div class="person_text">
                  <p>
                    The founder of Consulting WP,
                    he hes been the captain of this ship from the
                    beginning and has sailed...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone">
                      <use xlink:href="#icon-smartphone"></use>
                    </svg>
                  </div>

                  <div class="sidebar_contact_text">
                    Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>
              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section-parallax">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="phrase">
            <div class="phrase_text">
              <b>looking for a first-class</b>
              business consultant?
            </div>

            <a href="#" class="btn btn--secondary">Get a quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')