@@include('inc/header.html', {
"title": "Services Tabs"
})


<main class="content">
  <section class="section-head section-head--partners">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Our partners</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="services.html">Services</a></li>
              <li class="breadcrumbs_item">Our Partners</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <div class="row row--flex row--flex-wrap row--flex-space">
            <div class="col-sm-6 col-lg-4">
              <div class="partner">
                <div class="partner_logo">
                  <img src="img/color-partners/01.png" alt="">
                </div>

                <div class="partner_heading">
                  <h4 class="partner_title">EyeSight LTD</h4>
                  <span class="partner_subtitle">Seoul, SKA</span>
                </div>

                <div class="partner_description">
                  EyeSight is a management, information and communication technology consulting firm based in South Korea. Their capabilities and expertise are applied to the development of contemporary best practice management, change and innovation.
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4">
              <div class="partner">
                <div class="partner_logo">
                  <img src="img/color-partners/02.png" alt="">
                </div>

                <div class="partner_heading">
                  <h4 class="partner_title">Sunrise Technologies</h4>
                  <span class="partner_subtitle">Tokyo, JP</span>
                </div>

                <div class="partner_description">
                 Sunrise Technologies has been committed to delivering market-leading technology innovations that empower our partners and customers to dramatically improve the development, deployment, integration and management of their business applications.
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4">
              <div class="partner">
                <div class="partner_logo">
                  <img src="img/color-partners/03.png" alt="">
                </div>

                <div class="partner_heading">
                  <h4 class="partner_title">UKCF</h4>
                  <span class="partner_subtitle">Liverpool, UK</span>
                </div>

                <div class="partner_description">
                  UKCF is an advisory company providing solutions concerning human resources development and optimisation of effectiveness. They are an innovative company that is created by an experienced team.
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4">
              <div class="partner">
                <div class="partner_logo">
                  <img src="img/color-partners/04.png" alt="">
                </div>

                <div class="partner_heading">
                  <h4 class="partner_title">WConnect</h4>
                  <span class="partner_subtitle">Milan, IT</span>
                </div>

                <div class="partner_description">
                  WConnect is a consulting firm working across organisation silos to impact corporate communication, brand visibility, marketing innovation and employee engagement.
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4">
              <div class="partner">
                <div class="partner_logo">
                  <img src="img/color-partners/05.png" alt="">
                </div>

                <div class="partner_heading">
                  <h4 class="partner_title">InduStar</h4>
                  <span class="partner_subtitle">Boston, US</span>
                </div>

                <div class="partner_description">
                 InduStar solves their clients' toughest challenges by providing unmatched services in strategy, consulting, digital, technology and operations with expertise across more than 40 industries and all business functions.
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4">
              <div class="partner">
                <div class="partner_logo">
                  <img src="img/color-partners/06.png" alt="">
                </div>

                <div class="partner_heading">
                  <h4 class="partner_title">CloudIT</h4>
                  <span class="partner_subtitle">Paris, FR</span>
                </div>

                <div class="partner_description">
                  CloudIT is an innovative Business Cloud Broker: it accelerates the adoption, the transition and the management of cloud-based services. It also saves time and money for its customers and their providers to source, integrate and manage cloud based services.
                </div>
              </div>
            </div>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item"><a href="about.html">About Us</a></li>
                <li class="sidebar_list_item"><a href="our-approach.html">Our approach</a></li>
                <li class="sidebar_list_item sidebar_list_item--current"><a href="our-partners.html">Our partners</a></li>
                <li class="sidebar_list_item"><a href="careers.html">Careers</a></li>
                <li class="sidebar_list_item"><a href="#">Our Team</a></li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone">
                      <use xlink:href="#icon-smartphone"></use>
                    </svg>
                  </div>

                  <div class="sidebar_contact_text">
                      Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')