@@include('inc/header.html', {
"title": "Portfolio"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="services.html">Services</a></li>
              <li class="breadcrumbs_item">Turnaround Consulting</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-12">
          <div class="portfolio">
            <div class="portfolio_sizer"></div>
            <div class="portfolio_item portfolio_item--default">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/01.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Steve & Gregg Beverages
                    <span>Product Marketing</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="portfolio_item portfolio_item--wide">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/02.jpg" alt="">
                  <figcaption class="portfolio_title">
                    KEK Construction
                    <span>Construction Business</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="portfolio_item portfolio_item--long">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/04.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Preparing business plans for a medical company
                    <span>Business Strategy</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="portfolio_item portfolio_item--long">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/03.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Crisis management for a fashion company
                    <span>Consumer Products</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="portfolio_item portfolio_item--wide">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/05.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Cost management
                    <span>Financial Services</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="portfolio_item portfolio_item--default">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/06.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Estimating the value of business entities
                    <span>Advanced Analytics</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="portfolio_item portfolio_item--wide">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/07.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Founding a subsidiary
                    <span> Business Services</span>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>

          <div class="text-center mt-3">
            <button type="button" class="btn btn--secondary">load more</button>
          </div>

        </section>
      </div>
    </div>
  </section>
</main>

@@include('inc/footer.html')