@@include('inc/header.html', {
"title": "Portfolio Single"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="portfolio.html">Portfolio</a></li>
              <li class="breadcrumbs_item">Single Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content section-content--single">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-12">
          <div class="row row--flex row--flex-wrap mb-4">
            <div class="col-xs-12 col-lg-9">
              <div class="swiper-container single-carousel">
                <div class="swiper-wrapper">
                  <div class="banner-slide swiper-slide">
                    <img src="img/portfolio/single/01.jpg" alt="">
                  </div>

                  <div class="banner-slide swiper-slide">
                    <img src="img/portfolio/single/01.jpg" alt="">
                  </div>

                  <div class="banner-slide swiper-slide">
                    <img src="img/portfolio/single/01.jpg" alt="">
                  </div>
                </div>

                <!-- Arrows -->
                <div class="swiper-button-next"><i class="fi fi-right-arrow"></i></div>
                <div class="swiper-button-prev"><i class="fi fi-left-arrow"></i></div>
              </div>
            </div>

            <div class="col-xs-12 col-lg-3">
              <div class="details">
                <ul class="details_list">
                  <li class="details_item">
                    <span class="details_unit">Client</span>
                    <span class="details_name">Wilson & Sons Co.</span>
                  </li>
                  <li class="details_item">
                    <span class="details_unit">Date</span>
                    <span class="details_name">December 20, 2016</span>
                  </li>
                  <li class="details_item">
                    <span class="details_unit">Our Role</span>
                    <span class="details_name">Art Direction, UI/UX, Web Design</span>
                  </li>
                </ul>

                <ul class="socials socials--oval">
                  <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-twitter"></i>Twitter</a></li>
                  <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-facebook-logo"></i>Facebook</a></li>
                  <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-camera"></i>Instagram</a></li>
                  <li class="socials_item"><a href="#" class="socials_link"><i class="fi fi-linkedin-logo"></i>Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>

          <h2 class="title title--full">Steve & Gregg Beverages - Product Marketing</h2>

          <p>
            A long-standing pioneer in the European drink industry was attempting to assemble a solid digital presence. Key contenders had just gotten the equation right, creating moderately high beverage and sales through social networks and websites. Having to catch up, the organization used our services to create a firm digital strategy that enhanced their digital sales and advertising channels while coordinating traditional ones, placing them on the path to transform digital from a cost to a profit center.
          </p>

          <div class="embed-responsive embed-responsive-16by9 mb-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3wPeND2gvqc"></iframe>
          </div>

         <div class="row mt-3">
           <div class="col-md-4">
             <div class="portfolio_item portfolio_item--single">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/01.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Estimating the value of business entities
                    <span>Advanced Analytics</span>
                  </figcaption>
                </figure>
              </a>
            </div>
           </div>

           <div class="col-md-4">
             <div class="portfolio_item portfolio_item--single">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/02.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Founding a subsidiary
                    <span>Business Services</span>
                  </figcaption>
                </figure>
              </a>
            </div>
           </div>

           <div class="col-md-4">
             <div class="portfolio_item portfolio_item--single">
              <a href="portfolio-single.html">
                <figure class="portfolio_img">
                  <img src="img/portfolio/03.jpg" alt="">
                  <figcaption class="portfolio_title">
                    Crisis management for a fashion company
                    <span>Consumer Product</span>
                  </figcaption>
                </figure>
              </a>
            </div>
           </div>
         </div>
        </section>
      </div>
    </div>
  </section>

  <section class="section-parallax section-parallax--type-2">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="phrase">
            <div class="phrase_text">

              HAVE AN URGENT NEED IN A
              <b>PROFESSIONAL BUSINESS CONSULTANT ?</b>
            </div>

            <a href="#" class="btn btn--dark">Get a quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')