@@include('inc/header.html', {
"title": "Services Tabs"
})


<main class="content">
  <section class="section-head section-head--partners">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Services with tabs</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="services.html">Services</a></li>
              <li class="breadcrumbs_item">Services with tabs</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-lg-12">
          <ul class="tabs-nav">
            <li class="tabs-nav_item tabs-nav_item--active"><a href="#">Advanced Analytics</a></li>
            <li class="tabs-nav_item"><a href="#">Performance Improvement</a></li>
            <li class="tabs-nav_item"><a href="#">Corporate Finance</a></li>
            <li class="tabs-nav_item"><a href="#">Information Technology</a></li>
            <li class="tabs-nav_item"><a href="#">Business Strategy</a></li>
            <!--<li class="tabs-nav_item"><a href="#">Private Equity</a></li>-->
          </ul>

          <div class="tabs-container">
            <div class="row tabs-content">
              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Advanced Analytics</a>
                    </h3>
                    <p class="pl-2">
                      We combine newest strategies and our experience to enhance the decision making, providing the most anticipated results and even more.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Advanced Analytics</a>
                    </h3>
                    <p class="pl-2">
                      We combine newest strategies and our experience to enhance the decision making, providing the most anticipated results and even more.
                    </p>
                  </div>
                </article>
              </div>

              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Advanced Analytics</a>
                    </h3>
                    <p class="pl-2">
                      We combine newest strategies and our experience to enhance the decision making, providing the most anticipated results and even more.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Advanced Analytics</a>
                    </h3>
                    <p class="pl-2">
                      We combine newest strategies and our experience to enhance the decision making, providing the most anticipated results and even more.
                    </p>
                  </div>
                </article>
              </div>
            </div>

            <div class="row tabs-content">
              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Performance Improvement</a>
                    </h3>
                    <p class="pl-2">
                   Strategic restructuration of your company to grow revenue, improve margins and gain competitive advantage, while making your employees work more effective.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Performance Improvement</a>
                    </h3>
                    <p class="pl-2">
                   Strategic restructuration of your company to grow revenue, improve margins and gain competitive advantage, while making your employees work more effective.
                    </p>
                  </div>
                </article>
              </div>

              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Performance Improvement</a>
                    </h3>
                    <p class="pl-2">
                   Strategic restructuration of your company to grow revenue, improve margins and gain competitive advantage, while making your employees work more effective.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Performance Improvement</a>
                    </h3>
                    <p class="pl-2">
                   Strategic restructuration of your company to grow revenue, improve margins and gain competitive advantage, while making your employees work more effective.
                    </p>
                  </div>
                </article>
              </div>
            </div>

            <div class="row tabs-content">
              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Corporate Finance</a>
                    </h3>
                    <p class="pl-2">
                    Combining corporate and financial strategies, that allow your finance department to work properly with world-class finance sub-functions and support your main strategy.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Corporate Finance</a>
                    </h3>
                    <p class="pl-2">
                    Combining corporate and financial strategies, that allow your finance department to work properly with world-class finance sub-functions and support your main strategy.
                    </p>
                  </div>
                </article>
              </div>

              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Corporate Finance</a>
                    </h3>
                    <p class="pl-2">
                    Combining corporate and financial strategies, that allow your finance department to work properly with world-class finance sub-functions and support your main strategy.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Corporate Finance</a>
                    </h3>
                    <p class="pl-2">
                    Combining corporate and financial strategies, that allow your finance department to work properly with world-class finance sub-functions and support your main strategy.
                    </p>
                  </div>
                </article>
              </div>
            </div>

            <div class="row tabs-content">
              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Information Technology</a>
                    </h3>
                    <p class="pl-2">
                We focus on strategic needs of your business to improve your company’s technology organisation, making your operating models more agile and effective.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Information Technology</a>
                    </h3>
                    <p class="pl-2">
                We focus on strategic needs of your business to improve your company’s technology organisation, making your operating models more agile and effective.
                    </p>
                  </div>
                </article>
              </div>

              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Information Technology</a>
                    </h3>
                    <p class="pl-2">
                We focus on strategic needs of your business to improve your company’s technology organisation, making your operating models more agile and effective.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Information Technology</a>
                    </h3>
                    <p class="pl-2">
                We focus on strategic needs of your business to improve your company’s technology organisation, making your operating models more agile and effective.
                    </p>
                  </div>
                </article>
              </div>
            </div>

            <div class="row tabs-content">
              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Business Strategy</a>
                    </h3>
                    <p class="pl-2">
             The most creative solutions for your business that deliver actual results. We see things that many consulting companies miss, providing the best service.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Business Strategy</a>
                    </h3>
                    <p class="pl-2">
             The most creative solutions for your business that deliver actual results. We see things that many consulting companies miss, providing the best service.
                    </p>
                  </div>
                </article>
              </div>

              <div class="col-md-6">
                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Business Strategy</a>
                    </h3>
                    <p class="pl-2">
             The most creative solutions for your business that deliver actual results. We see things that many consulting companies miss, providing the best service.
                    </p>
                  </div>
                </article>

                <article class="post post--light">
                  <div class="entry-content">
                    <h3 class="post_title">
                      <a href="cases-single.html">Business Strategy</a>
                    </h3>
                    <p class="pl-2">
             The most creative solutions for your business that deliver actual results. We see things that many consulting companies miss, providing the best service.
                    </p>
                  </div>
                </article>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')