@@include('inc/header.html', {
"title": "Services"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Services</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">

          <div class="row">
            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/01.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Advanced Analytics</a>
                  </h3>
                  <p>
                    We combine newest strategies and our experience to enhance the decision making, providing the most anticipated results and even more.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/02.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Performance Improvement</a>
                  </h3>
                  <p>
                    Strategic restructuration of your company to grow revenue, improve margins and gain competitive advantage, while making your employees work more effective.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/03.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Corporate Finance</a>
                  </h3>
                  <p>
                    Combining corporate and financial strategies, that allow your finance department to work properly with world-class finance sub-functions and support your main strategy.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/01.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Information Technology</a>
                  </h3>
                  <p>
                   We focus on strategic needs of your business to improve your company’s technology organisation, making your operating models more agile and effective.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/02.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Business Strategy</a>
                  </h3>
                  <p>
                    The most creative solutions for your business that deliver actual results. We see things that many consulting companies miss, providing the best service.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/03.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Private Equity</a>
                  </h3>
                  <p>
                    We work across fund types, including infrastructure, debt and hedge funds, advising numerous key stakeholders in the private equity industry.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/01.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Workflow Organization</a>
                  </h3>
                  <p>
                    Aligning and setting up your company’s organization system to deliver on your business objectives, thus improving financial performance.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/02.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Business Transformation</a>
                  </h3>
                  <p>
                    We alter the financial, operational and strategic trajectory of your business to produce the most efficient and game-changing results.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>

            <div class="col-md-6 col-lg-4">
              <article class="post post--light">
                <header class="entry-header">
                  <a href="cases-single.html">
                    <img src="img/posts/03.jpg" alt="">
                  </a>
                </header>

                <div class="entry-content">
                  <h3 class="post_title">
                    <a href="cases-single.html">Why our consulting</a>
                  </h3>
                  <p>
                    We alter the financial, operational and strategic trajectory of your business to produce the most efficient and game-changing results.
                  </p>
                </div>

                <footer class="entry-footer">
                  <a href="cases-single.html" class="btn btn--more"><i class="fi fi-right-arrow"></i>Read more</a>
                </footer>
              </article>
            </div>
          </div>
        </section>
        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone">
                      <use xlink:href="#icon-smartphone"></use>
                    </svg>
                  </div>

                  <div class="sidebar_contact_text">
                    Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>
              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Download</h3>
              <p>Jameson Consulting Presentation</p>
              <a href="#" class="btn btn--secondary btn--full"><i class="fi fi-pdf-file"></i>Download presentation</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>

  <section class="section-parallax">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="phrase">
            <div class="phrase_text">
              <b>looking for a first-class</b>
              business consultant?
            </div>

            <a href="#" class="btn btn--secondary">Get a quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')