@@include('inc/header.html', {
"title": "Service Single"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="services.html">Services</a></li>
              <li class="breadcrumbs_item">Turnaround Consulting</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <figure class="mb-3">
            <img src="img/about-2.jpg" alt="">
          </figure>

          <h2 class="title">Business Strategy</h2>

          <p>
            Developing business strategies along with the transformation of your business are the core things our company does for many years. We believe that strategy is much more than just a plan. Work results with numerous companies in every industry all around the globe proves that our approach is profitable and efficient. Our strategy experts help to deal with the most complex strategic challenges. We create reliable and sustainable solutions for your business right when you need them.
          </p>

          <p>
            We define the success of our work by your company’s results. With our collaborative work, building lasting capabilities of your team is more than possible. 
          </p>

          <blockquote class="blockquote">
            <p>
              Jameson Consulting - We offer you creative solutions for your business that actually work, improving your revenue and growth rates.
            </p>
          </blockquote>


          <div class="row">
            <div class="col-md-6">
              <h2>Business planning & strategy</h2>
              <p>By defining the vision for how the company must change, we make a clear-eyed analysis of its current processes and provide valuable solution</p>
              <ul class="list list--marked">
                <li>Focus on core delivers growth for retailers</li>
                <li>New digital sales strategies for your market</li>
                <li>Global expansion boosts and earnings</li>
                <li>Strategic coaching, professional development and counseling</li>
                <li>Franchising growth strategies</li>
                <li>Creative marketing strategies implementation</li>
              </ul>
            </div>

            <div class="col-md-6">
              <h2>Benefits and rewards</h2>
              <p>Strategies we use:                :</p>
              <ul class="list">
                <li>Work fewer hours — and make more money</li>
                <li>Attract and retain quality, high-paying customers</li>
                <li>Manage your time so you’ll get more done in less time</li>
                <li>Hone sharp leadership skills to manage your team</li>
                <li>Cut expenses without sacrificing quality</li>
                <li>Automate your business, so you can leave for months at a time</li>
              </ul>
            </div>
          </div>

          <h2>Strategies we use</h2>

          <ul class="accordion">
            <li class="accordion_item">
              <a href="#">
                Multiple Location Growth
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  In the case your business requires retail spots, we outline where you may try to open extra shops and what your geographic strategy will be. We put the greatest effort so your product is able to go from regional to national level successfully.
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                New Client Acquisition Growth
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  When you’ve reached your original core customers, we search and connect other potential groups with the product you offer. We also help companies to seek for partners providing business-to-business services
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                New Product Growth
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  When trying to grow your sales, new product is what comes to your mind first. We develop the plan for introducing new products or services in the short, medium and long term as well as advise you regarding the product itself.
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                Franchising Growth
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  Franchising is a feasible option for many industries. It works best when the product you offer is consistent and the customers recognize and trust your brand.
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                Online Growth
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  Using the Internet for selling your product or growing business is not mandatory, but it increases your chances against other market players drastically. We help to establish your own website, advertise online and build local brand awareness through the Web overall.
                </p>
              </div>
            </li>

            <li class="accordion_item">
              <a href="#">
                Securing Your Business Strategy
                <i class="fi fi-plus"></i>
              </a>
              <div class="accordion_content">
                <p>
                  Complete and working business strategy is not an easy target to hit. Protecting your business against losses means securing your employees, customers, building, equipment, and revenue-related assets. Our company works side to side with the best business research and analytics team all over the world, providing you the most decent solutions.
                </p>
              </div>
            </li>
          </ul>

          <div class="row mb-4">
            <div class="col-md-4">
              <canvas id="piChart" width="400" height="400"></canvas>
            </div>

            <div class="col-md-8">
              <canvas id="lineChart" width="400" height="200"></canvas>
            </div>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <ul class="sidebar_list">
                <li class="sidebar_list_item sidebar_list_item--current"><a href="cases-single.html">Turnaround consulting</a></li>
                <li class="sidebar_list_item"><a href="our-approach.html">Our approach</a></li>
                <li class="sidebar_list_item"><a href="our-partners.html">Our partners</a></li>
                <li class="sidebar_list_item"><a href="careers.html">Careers</a></li>
                <li class="sidebar_list_item"><a href="#">Our Team</a></li>
                <li class="sidebar_list_item"><a href="our-approach.html">Our approach</a></li>
                <li class="sidebar_list_item"><a href="our-partners.html">Our partners</a></li>
                <li class="sidebar_list_item"><a href="careers.html">Careers</a></li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <div class="sidebar_contact">
                <h5 class="sidebar_contact_title">Prefer solving issues via the phone?</h5>
                <div class="sidebar_contact_content">
                  <div class="sidebar_contact_img">
                    <svg class="icon icon-smartphone"><use xlink:href="#icon-smartphone"></use></svg>
                  </div>

                  <div class="sidebar_contact_text">
                    Submit your details and we will call back shortly.
                  </div>
                </div>
                <a href="contact-us.html" class="btn btn--secondary btn--full">Contact us</a>
              </div>
            </div>

            <div class="sidebar_widget">
              <div class="testimonial">
                <div class="author">
                  <div class="author_avatar">
                    <img src="img/testimonials/01.png" alt="">
                  </div>

                  <div class="author_name">
                    Jennifer Pere
                    <span>Cafe Owner</span>
                  </div>
                </div>

                <blockquote class="testimonial_text">
                  <p>
                    My family owns an old-fashioned cafe for more than a decade. After I got the business from my father, I thought that things need to be changed. Jameson Consulting distinguished themselves as top-notch professionals, making everything for my business to prosper.
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">recent news</h3>
              <ul class="links-list">
                <li class="links-list_item">
                  <a href="news-single-page.html">Present your ideas to the Audit Committee the right way</a>
                  <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
                </li>
                <li class="links-list_item">
                  <a href="news-single-page.html">Biggest concerns when choosing a vendor</a>
                  <span class="date"><i class="fi fi-calendar"></i>November 22, 2017</span>
                </li>
              </ul>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Subscribe</h3>
              <p>Get latest updates and offers.</p>

              <div class="subscribe">
                <form action="#" id="form-subscribe-sidebar">
                  <input type="email" class="form-control subscribe_input" name="email" placeholder="Enter Your E-mail" required >
                  <button type="submit" class="subscribe_send" title="Send"><i class="fi fi-black-envelope"></i></button>
                </form>
              </div>
            </div>

            <div class="sidebar_widget">
              <h3 class="title-widget">Download</h3>
              <p>Jameson Consulting Presentation</p>
              <a href="#" class="btn btn--secondary btn--full"><i class="fi fi-pdf-file"></i>Download presentation</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')