@@include('inc/header.html', {
"title": "Our Team Single Page"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item"><a href="about.html">About Us</a></li>
              <li class="breadcrumbs_item"><a href="our-team.html">Team</a></li>
              <li class="breadcrumbs_item">James O’hara</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-9">
          <h2 class="title">
            <span class="title_subtitle">CEO / Founder</span>
            James O’hara
          </h2>

          <div class="row row--flex row--flex-wrap row--flex-space">
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="person person--list">
                <div class="person_photo">
                  <img src="img/team/01.png" alt="">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
              <h2>Education</h2>
              <ul class="list list--marked">
                <li>MBA, International Marketing, Australia Institute of Management, Sydney</li>
                <li>MBA, Business Administration, California State University, Los Angeles</li>
                <li>BS, Management, University of San Francisco, San Francisco</li>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
              <h2>Areas of expertise</h2>
              <ul class="list list--marked">
                <li> International Marketing</li>
                <li>Business Analysis</li>
                <li>Personnel Management</li>
                <li> Business Growth Strategies</li>
              </ul>
            </div>
          </div>
          <p>
            James O’hara is responsible for the overall growth, development and management of the firm. He focuses on Business Development, project management responsibilities, and financial and administrative management. With over 30 years of experience, James is a professional of high skill and morale.
          </p>

          <p>
            His specialisms include program design and execution, strategy & operating model development, business operations & process, change management and risk mitigation, problem management facilitation, business implementation planning and others.
          </p>

          <h2 class="mb-2">Contact Details:</h2>

          <form action="#" id="contact-form">
            <div class="row">
              <div class="col-md-4">
                <input type="text" class="form-control" name="first-name" placeholder="First Name">
              </div>

              <div class="col-md-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" name="phone" placeholder="Phone">
              </div>

              <div class="col-md-12">
                <textarea rows="5" class="form-control" placeholder="Your Message"></textarea>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn--secondary">SEND</button>
              </div>

            </div>
          </form>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="sidebar_widget">
              <h3 class="title-widget">contact details</h3>

              <ul class="places">
                <li class="places_item">
                  <i class="fi fi-placeholder"></i>
                  1010 Avenue of the Moon, New York,<br>
                  NY 10018 US.
                </li>
                <li class="places_item">
                  <i class="fi fi-phone-receiver"></i>
                  <a href="tel:+16281234000">+1 628 123 4000</a>
                </li>
                <li class="places_item">
                  <i class="fi fi-envelope"></i>
                  <a href="mailto:jameson@example.com">jameson@example.com</a>
                </li>
                <li class="places_item">
                  <i class="fi fi-clock-circular-outline"></i>
                  Mon - Sat 8.00 - 18.00.<br>
                  Sunday CLOSED
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')