@@include('inc/header.html', {
"title": "Testimonials"
})


<main class="content">
  <section class="section-head">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title title--page">Testimonails</h2>

          <div class="breadcrumbs breadcrumbs--centered">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Testimonials</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-12">

          <div class="swiper-container testimonials-carousel-full">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/01.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans. Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>

                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/02.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>

                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/03.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/04.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>

                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/05.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans. Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>

                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/06.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/07.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>

                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/08.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>

                <div class="testimonial">
                  <div class="author">
                    <div class="author_avatar">
                      <img src="img/testimonials/09.png" alt="">
                    </div>

                    <div class="author_name">
                      Jennifer Aniston
                      <span>Cafe Owner</span>
                    </div>
                  </div>

                  <blockquote class="testimonial_text">
                    <p>
                      Lorem ipsum dolor sit amet, et clita adolescens has. Autem abhorreant vim te, cu tation animal
                      incorrupte eum. Mea ad scaevola tacimates reformidans.
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>

            <!-- Arrows -->
            <div class="testimonials-carousel_controls">
              <div class="btn-prev"><i class="fi fi-left-arrow"></i></div>
              <div class="btn-next"><i class="fi fi-right-arrow"></i></div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <section class="section-parallax">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="phrase">
            <div class="phrase_text">
              <b>looking for a first-class</b>
              business consultant?
            </div>

            <a href="#" class="btn btn--secondary">Get a quote</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')