@@include('inc/header.html', {
"title": "Typography"
})


<main class="content">
  <section class="section-gray">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
              <li class="breadcrumbs_item"><a href="index.html">Home</a></li>
              <li class="breadcrumbs_item">Typography</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-content">
    <div class="container-fluid container-fluid--custom">
      <div class="row">
        <section class="col-md-12">
          <h1>Heading 1</h1>
          <p>
            Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique detraxit,
            ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat
            vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores,
            omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum dicam vis ei. Libris aeterno et
            mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire
            nam ea, probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne
            postea facilisi sententiae, per quas dolorum disputationi ut.
          </p>

          <div class="divider"></div>

          <h2>Heading 2</h2>
          <p>
            Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique detraxit,
            ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat
            vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores,
            omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum dicam vis ei. Libris aeterno et
            mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire
            nam ea, probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne
            postea facilisi sententiae, per quas dolorum disputationi ut.
          </p>

          <div class="divider"></div>

          <h3>Heading 3</h3>
          <p>
            Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique detraxit,
            ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat
            vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores,
            omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum dicam vis ei. Libris aeterno et
            mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire
            nam ea, probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne
            postea facilisi sententiae, per quas dolorum disputationi ut.
          </p>

          <div class="divider"></div>

          <h4>Heading 4</h4>
          <p>
            Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique detraxit,
            ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat
            vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores,
            omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum dicam vis ei. Libris aeterno et
            mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire
            nam ea, probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne
            postea facilisi sententiae, per quas dolorum disputationi ut.
          </p>

          <div class="divider"></div>

          <h5>Heading 5</h5>
          <p>
            Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique detraxit,
            ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat
            vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores,
            omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum dicam vis ei. Libris aeterno et
            mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire
            nam ea, probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne
            postea facilisi sententiae, per quas dolorum disputationi ut.
          </p>

          <div class="divider"></div>

          <h6>Heading 6</h6>
          <p>
            Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique detraxit,
            ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat
            vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores,
            omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum dicam vis ei. Libris aeterno et
            mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire
            nam ea, probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne
            postea facilisi sententiae, per quas dolorum disputationi ut.
          </p>

          <div class="divider"></div>

          <h2>Full width</h2>
          <div class="row">
            <div class="col-md-12">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique detraxit,
                ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat
                vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores,
                omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum dicam vis ei. Libris aeterno et
                mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire
                nam ea, probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne
                postea facilisi sententiae, per quas dolorum disputationi ut.
              </p>
            </div>
          </div>

          <div class="divider"></div>

          <h2>Two columns</h2>
          <div class="row">
            <div class="col-md-6">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
                consulatu. Feugiat vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam,
                mea ea aliquam labores, omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum
                dicam vis ei. Libris
              </p>
            </div>

            <div class="col-md-6">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
                consulatu. Feugiat vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam,
                mea ea aliquam labores, omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum
                dicam vis ei. Libris
              </p>
            </div>
          </div>

          <div class="divider"></div>

          <h2>Three columns</h2>
          <div class="row">
            <div class="col-md-4">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
              </p>
            </div>
            <div class="col-md-4">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
              </p>
            </div>
            <div class="col-md-4">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
              </p>
            </div>
          </div>

          <div class="divider"></div>

          <h2>Four columns</h2>
          <div class="row">
            <div class="col-md-3">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
              </p>
            </div>
            <div class="col-md-3">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
              </p>
            </div>
            <div class="col-md-3">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
              </p>
            </div>
            <div class="col-md-3">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
              </p>
            </div>
          </div>

          <div class="divider"></div>

          <h2>Custom layout 2/3 + 1/3</h2>
          <div class="row">
            <div class="col-md-9">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique
                consulatu. Feugiat vivendo oporteat quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam,
                mea ea aliquam labores, omnis justo graecis an has.Qui illud convenire ex, te harum solet sed. Unum
                dicam vis ei. Libris aeterno et mel, ius dicit posidonium no, sea melius ponderum menandri cu. Case
                animal aliquando ius ad, tibique invenire nam ea, probo
              </p>
            </div>

            <div class="col-md-3">
              <p>
                Lorem ipsum dolor sit amet, te pri possit utroque, ex vis cibo salutandi. Ad pri aeterno oblique
                detraxit, ea labores maiorum dissentiet eum. Eam error melius principes
              </p>
            </div>
          </div>

          <div class="divider"></div>

          <h2 class="title">Buttons</h2>
          <div class="row mb-3">
            <div class="col-md-1">Normal</div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-3"><button type="button" class="btn btn--primary">Button</button></div>
                <div class="col-md-3"><button type="button" class="btn btn--secondary">Button</button></div>
                <div class="col-md-3"><button type="button" class="btn btn--dark">Button</button></div>
                <div class="col-md-3"><button type="button" class="btn btn--filter">Button</button></div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-1">Hover</div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-3"><button type="button" class="btn btn--primary">Button</button></div>
                <div class="col-md-3"><button type="button" class="btn btn--secondary">Button</button></div>
                <div class="col-md-3"><button type="button" class="btn btn--dark">Button</button></div>
                <div class="col-md-3"><button type="button" class="btn btn--filter">Button</button></div>
              </div>
            </div>
          </div>

          <!--<div class="dark-wrapper mb-3">-->
            <!--<div class="row mb-3">-->
              <!--<div class="col-md-9 col-md-offset-1">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;primary">Button</button></div>-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;secondary">Button</button></div>-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;dark">Button</button></div>-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;filter">Button</button></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
              <!--<div class="col-md-9 col-md-offset-1">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;primary">Button</button></div>-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;secondary">Button</button></div>-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;dark">Button</button></div>-->
                  <!--<div class="col-md-3"><button type="button" class="btn btn&#45;&#45;filter">Button</button></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <h2 class="title">Standard Inline Elements</h2>

          <p>
            <strong>Bold text</strong> sit amet, te pri possit utroque, ex vis cibo salutandi. <a href="#">accent color</a>
            ea labores maiorum dissentiet eum. Eam error melius principes te, eu his minim denique consulatu. Feugiat vivendo oporteat
            quo cu. No odio erat mea. Ut qui meis intellegebat comprehensam, mea ea aliquam labores, omnis justo graecis
            an has. <u>Qui illud convenire ex,</u> te harum solet sed. Unum dicam vis ei. Libris aeterno et mel, ius dicit
            posidonium no, sea melius ponderum menandri cu. Case animal aliquando ius ad, tibique invenire nam ea,
            probo primis dissentias id qui. Ex quodsi verear intellegam nam, esse rationibus in sit. Mea ne postea
            facilisi sententiae, per quas dolorum disputationi ut.
          </p>

          <p>
            <i>Example.</i> Essent dicunt sanctus eos ad, cu eum ferri erant numquam. In mel meliore comprehensam, mea
            laudem inermis id, ad eros blandit quo. Ea prompta noluisse pro, est eu possit lobortis, id qui nominati
            hendrerit. Vix debet explicari delicatissimi eu, cu his facilisis gloriatur. Sed ex veniam meliore.
          </p>
        </section>
      </div>
    </div>
  </section>
</main>


@@include('inc/footer.html')